<%- 
  label_key = "mongoid.attributes.question."
  hint_key = "mongoid.hints.question."
  a_label_key = "mongoid.attributes.answer."
  a_hint_key = "mongoid.hints.answer."
-%>

<%= semantic_form_for([@dataset, @question], html: {class: 'tabbed-translation-form'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <strong><%= t(label_key + 'code') %></strong>
    <br />
    <%= @question.original_code %>
  </p>

  <div class="radio_buttons input optional form-group" id="question_exclude_input">
    <label class="control-label" for="question_exclude"><%= t(label_key + 'exclude') %><div class="help-inline" title="<%= t(hint_key + 'exclude') %>"><div>?</div></div>
    </label>
    <div class="radio">
      <label class="choice" for="question_exclude_true">
        <% checked = @question.exclude? ? 'checked=checked' : '' %>
        <input <%= checked %> id="question_exclude_true" name="question[exclude]" type="radio" value="true" />
        <%= t('formtastic.yes') %>
      </label>
    </div>
    <div class="radio">
      <label class="choice" for="question_exclude_false">
        <% checked = @question.exclude? ? '' : 'checked=checked' %>
        <input <%= checked %> id="question_exclude_false" name="question[exclude]" type="radio" value="false" />
        <%= t('formtastic.no') %>
      </label>
    </div>
  </div>


  <div class="input">
    <label class="control-label">
      <%= t(label_key + 'is_mappable') %><div class="help-inline" title="<%= t(hint_key + 'is_mappable') %>"><div>?</div></div>
    </label>
    <% if @question.is_mappable? %>
      <%= t('formtastic.yes') %>
      <%= link_to image_tag('svg/edit.svg'),
            mappable_form_edit_dataset_path(:id => @dataset, :question_id => @question.id), 
            :title => t('helpers.links.edit'),
            target: :blank, class: 'btn btn-sm btn-edit' %>
    <% else %>
      <%= t('formtastic.no') %>
      <%= link_to t('helpers.links.make_mappable'), mappable_form_dataset_path(:id => @dataset, :question_id => @question.id), 
            target: :blank, class: 'btn btn-default' %>
    <% end %>
  </div>

  <hr />

  <div role="tabpanel" class="tabbed-translation-fields">
    <% 
      locales = [I18n.locale] 
      locales = @dataset.languages_sorted if @dataset.languages.present?
    %>

    <ul class="nav nav-tabs" role="tablist">
      <%
        default_locale = I18n.locale.to_s 
        default_lang = '' 
      %>
      <% locales.each_with_index do |locale, index| %>
        <%
          lang = @languages.select{|x| x.locale == locale.to_s}.first
          cls = ''
          if index == 0
            cls = 'class=active' 
            default_locale = locale
            default_lang = lang.present? ? lang.name : locale 
          end
        %>
        <li role="presentation" <%= cls %> data-locale="<%= locale %>">
          <a href="#<%= locale %>" aria-controls="home" role="tab" data-toggle="tab">
            <% if index == 0 %>
              <span class='glyphicon glyphicon-star' title='<%= t('helpers.default_language') %>'></span>
            <% end %>
            <%= lang.present? ? lang.name : locale %>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% answers = @question.answers.sorted %>
      <% locales.each_with_index do |locale, index| %>
        <%
          cls = ''
          cls = 'in active' if index == 0
        %>

        <div role="tabpanel" class="tab-pane fade <%= cls %>" id="<%= locale %>" data-locale="<%= locale %>">
          <%= f.fields_for :text_translations, OpenStruct.new(f.object.text_translations) do |translation| %>
            <% 
              label = t(label_key + 'text')
              hint = t(hint_key + 'text')
              if index > 0
                label << show_default_text(@question.text_translations[default_locale])
              end
            %>
            <%= translation.input locale, hint: hint, label: label.html_safe %>
          <% end %>

          <%= f.fields_for :notes_translations, OpenStruct.new(f.object.notes_translations) do |translation| %>
            <% 
              label = t(label_key + 'notes')
              hint = t(hint_key + 'notes')
              if index > 0
                label << show_default_text(@question.notes_translations[default_locale])
              end
            %>
            <%= translation.input locale, hint: hint, label: label.html_safe, required: false %>
          <% end %>

          <h3><%= t('.header_answers') %></h3>
          <p><%= t('.explanation_answers', lang: default_lang) %></p>

          <table id='dataset-answers' class="table table-striped table-hover table-nonfluid">
            <thead>
              <tr>
                <% if index == 0 %>
                  <th><%= t(a_label_key + 'text') %><abbr title="required">*</abbr><div class="help-inline" title="<%= t(a_hint_key + 'text') %>"><div>?</div></div></th>
                  <th><%= t(a_label_key + 'value') %><abbr title="required">*</abbr><div class="help-inline" title="<%= t(a_hint_key + 'value') %>"><div>?</div></div></th>
                  <th><%= t(a_label_key + 'sort_order') %><div class="help-inline" title="<%= t(a_hint_key + 'sort_order') %>"><div>?</div></div></th>
                  <th><%= t(a_label_key + 'exclude') %><div class="help-inline" title="<%= t(a_hint_key + 'exclude') %>"><div>?</div></div></th>
                  <th><%= t(a_label_key + 'can_exclude') %><div class="help-inline" title="<%= t(a_hint_key + 'can_exclude') %>"><div>?</div></div></th>
                <% else %>
                  <th><%= t(a_label_key + 'text') %><div class="help-inline" title="<%= t(a_hint_key + 'text') %>"><div>?</div></div></th>
                  <th><%= t('tabbed_translation_form.default_text') %><div class="help-inline" title="<%= t(a_hint_key + 'default_text') %>"><div>?</div></div></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% answers.each_with_index do |ans, aindex| %>
                <%= f.semantic_fields_for :answers, ans do |answer| %>
                  <%= render partial: 'answer_fields', :locals => {:f => answer, :answer => ans, :language_index => index, :aindex => aindex, :locale => locale, :default_locale => default_locale, :answers => answers} %>
                <% end %>
              <% end %>
            </tbody>
            <% if index == 0 %>
              <tfoot>
                <% 
                  missing_answers = @question.missing_answers
                  if missing_answers.present? 
                %>
                  <tr>
                    <td colspan="3"><%= t('.header_add_missing_answer').html_safe %></td>
                    <td colspan="2">
                      <%= select_tag 'missing_answers', options_for_select(missing_answers.sort), include_blank: true %>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td colspan="3"><%= t('.header_add_answer') %></td>
                  <td colspan="2">
                    <%= link_to_add_association t('helpers.links.add_answer'), f, :answers, 
                        :class => 'btn btn-success',
                        :'data-association-insertion-node' => '.tab-content .tab-pane:first #dataset-answers tbody',
                        :'data-association-insertion-method' => 'append',
                        :render_options => {:locals => {:language_index => index, :locale => locale, :default_locale => default_locale }} %>
                  </td>
                </tr>
              </tfoot>
            <% end %>
          </table>                  

        </div>
      <% end %>
    </div>

  </div>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
    <%= link_to t('helpers.links.cancel'), dataset_questions_path, :class => 'btn btn-warning' %>
  </div>
<% end %>

