<%- model_class = Question -%>
<% title t('.title') %>

  <p>
    <%= t('.explanation') %>
    <%= t('.mass_changes', link: link_to(t('.mass_changes_link'), mass_changes_dataset_questions_path)).html_safe %>
  </p>


<% if @questions.present? %>

  <table id='dataset-questions' class="table table-striped table-hover table-nonfluid">
    <thead>
      <tr>
        <th></th>
        <th><%= model_class.human_attribute_name(:code) %></th>
        <th><%= model_class.human_attribute_name(:text) %></th>
        <th><%= model_class.human_attribute_name(:has_code_answers) %></th>
        <th><%= model_class.human_attribute_name(:exclude) %></th>
        <th><%= model_class.human_attribute_name(:is_mappable) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td>
            <%= link_to t('helpers.links.view'), dataset_question_path(@dataset, question), class: 'btn btn-default' %>
          </td>
          <td>
            <%= question.original_code %>
          </td>
          <td>
            <%= question.text %>
          </td>
          <td>
            <%= format_boolean_flag(question.has_code_answers) %>
          </td>
          <td>
            <%= format_boolean_flag(question.exclude) %>
          </td>
          <td>
            <%= format_boolean_flag(question.is_mappable) %>
          </td>
          <td>
            <%= link_to '',
                      edit_dataset_question_path(@dataset, question), 
                      :title => t('helpers.links.edit'),
                      :class => 'btn btn-edit btn-xs' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


<% else %>
  <p class="alert alert-warning">
    <%= t('.no_questions') %>
  </p>
<% end %>
