<%= semantic_form_for [:admin, @help_category] do |f| %>

  <%= render layout: 'shared/admin_tab_translations' do |index, tab_locale| %>
    <%= f.fields_for :name_translations, OpenStruct.new(f.object.name_translations) do |translation| %>
      <%= translation.input locale,
                            hint: admin_translation_hint(HelpCategory, 'name'),
                            label: admin_translation_label(
                                     'help_category',
                                     'name',
                                     tab_locale,
                                     @help_category.name_translations[I18n.default_locale.to_s]
                                   ).html_safe %>
    <% end %>
  <% end %>

  <div class="form-group" style="margin-top: 20px;">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'),
                 :class => 'btn btn-warning',
                 :type => :reset,
                 :name => :reset %>
    <%= link_to t('helpers.links.cancel'),
                admin_help_categories_path,
                :class => 'btn btn-warning' %>
  </div>
<% end %>
