<% model_i18n_key = HelpCategory.model_name.i18n_key %>

<%= semantic_form_for([:admin, @help_category], html: {class: 'tabbed-translation-form'}) do |f| %>
  <%= f.error_messages %>

  <%= render layout: 'shared/admin_tab_translations' do |_index, tab_locale| %>
    <%= f.fields_for :name_translations, OpenStruct.new(f.object.name_translations) do |translation| %>
      <%= translation.input(
            tab_locale,
            hint: admin_translation_hint(model_i18n_key, 'name'),
            label: admin_translation_label(
                     model_i18n_key,
                     'name',
                     tab_locale,
                     @help_category.name_translations[I18n.default_locale.to_s]
                   ).html_safe
          ) %>
    <% end %>
  <% end %>

  <%= f.inputs do %>

    <%= f.input :permalink,
                hint: admin_translation_hint(model_i18n_key, 'permalink'),
                      input_html: {size: 25} %>

    <%= f.input :sort_order,
                as: :number,
                hint: admin_translation_hint(model_i18n_key, 'sort_order'),
                min: 1,
                step: 5 %>

  <% end %>

  <div class="form-group" style="margin-top: 20px;">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'),
                 :class => 'btn btn-warning',
                 :type => :reset,
                 :name => :reset %>
    <%= link_to t('helpers.links.cancel'),
                admin_help_categories_path,
                :class => 'btn btn-warning' %>
  </div>
<% end %>
