<%-
  label_key = "mongoid.attributes.help_category."
-%>

<%= semantic_form_for [:admin, @help_category] do |f| %>

  <%= render layout: 'shared/admin_tab_translations' do |index, tab_locale| %>
    <%= f.fields_for :name_translations, OpenStruct.new(f.object.name_translations) do |translation| %>
      <%
        label = t(label_key + 'name')
        if index > 0
          label << show_default_text(@help_category.name_translations[I18n.default_locale.to_s])
        end
      %>
      <%= translation.input locale,
                            hint: admin_translation_hint(HelpCategory, 'name'),
                            label: label.html_safe %>
    <% end %>
  <% end %>

  <div class="form-group" style="margin-top: 20px;">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'),
                 :class => 'btn btn-warning',
                 :type => :reset,
                 :name => :reset %>
    <%= link_to t('helpers.links.cancel'),
                admin_help_categories_path,
                :class => 'btn btn-warning' %>
  </div>
<% end %>
