<%= semantic_form_for [:admin, @help_category] do |f| %>

  <%= render layout: 'shared/admin_tab_translations' do |label_key, hint_key, index, default_locale| %>
    <%= f.fields_for :name_translations, OpenStruct.new(f.object.name_translations) do |translation| %>
      <%
        label = t(label_key + 'name')
        hint = t(hint_key + 'name')
        if index > 0
          label << show_default_text(@help_category.name_translations[default_locale])
        end
      %>
      <%= translation.input locale, hint: hint, label: label.html_safe %>
    <% end %>
  <% end %>

  <div class="form-group" style="margin-top: 20px;">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'),
                 :class => 'btn btn-warning',
                 :type => :reset,
                 :name => :reset %>
    <%= link_to t('helpers.links.cancel'),
                admin_help_categories_path,
                :class => 'btn btn-warning' %>
  </div>
<% end %>
