<h1>Listing help_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @help_categories.each do |help_category| %>
  <tr>
    <td><%= help_category.name %></td>
    <td><%= link_to 'Show', [:admin, help_category] %></td>
    <td><%= link_to 'Edit', edit_admin_help_category_path(help_category) %></td>
    <td><%= link_to 'Destroy', [:admin, help_category], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Help category', new_admin_help_category_path %>
