<% model_i18n_key = HelpArticle.model_name.i18n_key %>

<%= semantic_form_for([:admin, @help_article], html: {class: 'tabbed-translation-form'}) do |f| %>
  <%= f.error_messages %>

  <%= f.inputs do %>

    <%= render layout: 'shared/admin_tab_translations' do |_index, tab_locale| %>

      <%= f.fields_for :title_translations, OpenStruct.new(f.object.title_translations) do |translation| %>
        <%= translation.input(
              tab_locale,
              hint: admin_translation_hint(model_i18n_key, 'title'),
              label: admin_translation_label(
                       model_i18n_key,
                       'title',
                       tab_locale,
                       @help_article.title_translations[I18n.default_locale.to_s]
                     ).html_safe
            ) %>
      <% end %>

      <%= f.fields_for :content_translations, OpenStruct.new(f.object.content_translations) do |translation| %>
        <%= translation.input(
              tab_locale,
              hint: admin_translation_hint(model_i18n_key, 'content'),
              label: admin_translation_label(
                       model_i18n_key,
                       'content',
                       tab_locale,
                       @help_article.content_translations[I18n.default_locale.to_s]
                     ).html_safe
            ) %>
      <% end %>
    <% end %>

    <%= f.input :article_type_id,
                as: :radio,
                collection: HelpArticle.article_types_and_ids,
                required: true,
                hint: admin_translation_hint(model_i18n_key, 'article_type'),
                      input_html: {size: 25} %>

    <%= f.input :sort_order,
                as: :number,
                hint: admin_translation_hint(model_i18n_key, 'sort_order'),
                min: 1,
                step: 5 %>

    <%= f.input :public,
                as: :radio,
                hint: admin_translation_hint(model_i18n_key, 'sort_order') %>

  <% end %>

  <div class="form-group" style="margin-top: 20px;">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'),
                 :class => 'btn btn-warning',
                 :type => :reset,
                 :name => :reset %>
    <%= link_to t('helpers.links.cancel'),
                admin_help_articles_path,
                :class => 'btn btn-warning' %>
  </div>
<% end %>
