<% model_i18n_key = HelpArticle.model_name.i18n_key %>

<%= semantic_form_for([:admin, @help_article], html: {class: 'tabbed-translation-form'}) do |f| %>
  <%= f.error_messages %>

  <%= f.inputs do %>

    <%= render layout: 'shared/admin_tab_translations' do |_index, tab_locale| %>

      <%= f.fields_for :title_translations, OpenStruct.new(f.object.title_translations) do |translation| %>
        <%= translation.input(
              tab_locale,
              hint: admin_translation_hint(model_i18n_key, 'title'),
              label: admin_translation_label(
                       model_i18n_key,
                       'title',
                       tab_locale,
                       @help_article.title_translations[I18n.default_locale.to_s]
                     ).html_safe
            ) %>
      <% end %>

      <%= f.fields_for :content_translations, OpenStruct.new(f.object.content_translations) do |translation| %>
        <%= translation.input(
              tab_locale,
              as: :text,
              hint: admin_translation_hint(model_i18n_key, 'content'),
              label: admin_translation_label(
                       model_i18n_key,
                       'content',
                       tab_locale,
                       @help_article.content_translations[I18n.default_locale.to_s]
                     ).html_safe,
              input_html: { class: 'tinymce' }
            ) %>
      <% end %>

    <% end %>

    <!-- Creating article_type_id field by hand because formtastic does not add hints for radio inputs -->
    <div class="radio_buttons input required form-group" id="help_article_article_type_id_input">

      <label class="  control-label" for="help_article_article_type_id">

        <%= t 'mongoid.attributes.help_article.article_type_id' %>

        <abbr title="required">*</abbr>

        <div class="help-inline" title="<%= admin_translation_hint(model_i18n_key, 'article_type') %>">
          <div>?</div>
        </div>

      </label>

      <div class="radio">
        <label class="choice" for="help_article_article_type_id_1">

          <input checked="checked" id="help_article_article_type_id_1" name="help_article[article_type_id]" size="25" type="radio" value="1" />

          <%= t 'mongoid.attributes.help_article.article_type_values.how_to' %>

        </label>
      </div>

      <div class="radio">
        <label class="choice" for="help_article_article_type_id_2">

          <input id="help_article_article_type_id_2" name="help_article[article_type_id]" size="25" type="radio" value="2" />

          <%= t 'mongoid.attributes.help_article.article_type_values.tip' %>

        </label>
      </div>

    </div>

    <%= f.input :help_category_ids,
                as: :select,
                hint: admin_translation_hint(model_i18n_key,
                                             'help_category_ids'),
                collection: HelpCategory.sorted.map { |x| [x.name, x.id] },
                multiple: true,
                input_html: {
                  class: 'js-create-help-categories-selectpicker',
                  :'data-live-search' => "true",
                  :'data-selected-text-format' => "count>3",
                  :'data-size' => "7",
                  :'data-width' => "72%"} %>

    <%= f.input :sort_order,
                as: :number,
                hint: admin_translation_hint(model_i18n_key, 'sort_order'),
                min: 1,
                step: 5 %>

    <!-- Creating public field by hand because formtastic does not add hints for radio inputs -->
    <div class="radio_buttons input required form-group" id="help_article_public_input">

      <label class="  control-label" for="help_article_public">

        <%= t 'mongoid.attributes.help_article.public' %>

        <abbr title="required">*</abbr>

        <div class="help-inline" title="<%= admin_translation_hint(model_i18n_key, 'public') %>">
          <div>?</div>
        </div>

      </label>

      <div class="radio">
        <label class="choice" for="help_article_public_true">

          <input id="help_article_public_true" name="help_article[public]" type="radio" value="true" />

          <%= t 'formtastic.yes' %>

        </label>
      </div>


      <div class="radio">
        <label class="choice" for="help_article_public_false">

          <input checked="checked" id="help_article_public_false" name="help_article[public]" type="radio" value="false" />

          <%= t 'formtastic.no' %>

        </label>
      </div>

    </div>

  <% end %>

  <div class="form-group" style="margin-top: 20px;">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'),
                 :class => 'btn btn-warning',
                 :type => :reset,
                 :name => :reset %>
    <%= link_to t('helpers.links.cancel'),
                admin_help_articles_path,
                :class => 'btn btn-warning' %>
  </div>
<% end %>

<%= tinymce_assets %>
