<% title t('.title') %>

<%= simple_format(t('.instructions')) %>

<hr />

<% if @highlights.present? %>

  <table id="highlights-datatable" class="table table-striped display">
    <thead>
      <tr>
        <th><%= t('.question_code') %></th>
        <th><%= t('.broken_down_by_code') %></th>
        <th><%= t('.filtered_by_code') %></th>
        <th><%= t('.show_home_page') %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @highlights.each do |highlight| %>
        <tr>
          <td>
            <% q = @dataset.questions.with_code(highlight.question_code) %>
            <%= "#{q.original_code} - #{q.text}" if q.present?%>
          </td>
          <td>
            <% bdb = @dataset.questions.with_code(highlight.broken_down_by_code) if highlight.broken_down_by_code.present? %>
            <%= "#{bdb.original_code} - #{bdb.text}" if bdb.present?%>
          </td>
          <td>
            <% fb = @dataset.questions.with_code(highlight.filtered_by_code) if highlight.filtered_by_code.present? %>
            <%= "#{fb.original_code} - #{fb.text}" if fb.present?%>
          </td>
          <td>
            <%= format_highlight_home_page_status(highlight.show_home_page) %>
          </td>
          <td>
            <% if !highlight.show_home_page %>
              <%= link_to t('.btn_show_home_page'),
                          home_page_highlight_dataset_path(id: highlight.dataset_id, embed_id: highlight.embed_id), 
                          :method => :post,
                          :class => 'btn btn-xs btn-default' %>
            <% end %>
            <%= link_to 'X',
                        remove_highlight_dataset_path(id: highlight.dataset_id, embed_id: highlight.embed_id),
                        :title => t("helpers.links.destroy"),
                        :method => :post,
                        :data => { :confirm => I18n.t("helpers.links.confirm") },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>

  <p>
    <%= t('.no_highlights') %>
  </p>

<% end %>