<%- model_class = Dataset -%>
<%- model_class_s = Stats -%>
<% title t('.title', owner: @owner.name).html_safe %>

<div class="form-group form-group-admin-buttons">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_dataset_path(@owner),
              :class => 'btn btn-primary' %>
</div>

<table id="dataset-datatable" class="table table-striped display">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%= model_class.human_attribute_name(:languages) %></th>
      <th><%= model_class.human_attribute_name(:is_weighted) %></th>
      <th><%= model_class.human_attribute_name(:public) %></th>
      <th><%= model_class.human_attribute_name(:stats) %></th>
      <th><%= model_class.human_attribute_name(:has_warnings) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @datasets.each do |dataset| %>
      <tr>
        <td><%= link_to dataset.title, dataset_path(dataset.owner, dataset) %></td>
        <td><%= dataset.source %></td>
        <td><%= format_languages(dataset) %></td>
        <td><%= format_boolean_flag(dataset.is_weighted?) %></td>
        <td><%= format_public_status(dataset.public) %></td>
        <td data-order="<%= dataset.stats.data_records %>">
          <%= model_class_s.human_attribute_name(:data_records) %>: <%= number_with_delimiter(dataset.stats.data_records) %>
          <br />
          <%= model_class_s.human_attribute_name(:questions_good) %>: <%= number_with_delimiter(dataset.stats.questions_good) %>
        </td>
        <td>
          <% if dataset.has_warnings? %>
            <% if dataset.stats.questions_no_text > 0 %>
              <%= model_class_s.human_attribute_name(:questions_no_text) %>: <%= number_with_delimiter(dataset.stats.questions_no_text) %>
              <br />
            <% end %>
            <% if dataset.stats.questions_no_answers > 0 %>
              <%= model_class_s.human_attribute_name(:questions_no_answers) %>: <%= number_with_delimiter(dataset.stats.questions_no_answers) %>
              <br />
            <% end %>
            <% if dataset.stats.questions_bad_answers > 0 %>
              <%= model_class_s.human_attribute_name(:questions_bad_answers) %>: <%= number_with_delimiter(dataset.stats.questions_bad_answers) %>
              <br />
            <% end %>
            <%= link_to t('.view_warnings'), warnings_dataset_path(dataset.owner, dataset), :class => 'btn btn-xs btn-details' %>
          <% end %>
        </td>
        <td><%= l dataset.created_at, format: :date_only %></td>
        <td class="dropdown">
          <%= render partial: 'layouts/dataset_menu', locals: {dataset: dataset, include_parent_div: true, make_button: true} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
