<% title t('.title') %>
<%-
  label_key = "mongoid.attributes.question."
-%>

<%= form_tag mappable_form_edit_dataset_path(@dataset.owner, @dataset), id: 'frm-mappable-question' do %>
  <input type="hidden" name="question_id" value="<%= @question.id %>"/>
  <input type="hidden" name="shapeset_id" value="<%= @shapeset.id %>"/>

  <div id="mappable-matching">

    <h2>
      <%= t('.matching_header', question: @question.text, shapeset: @shapeset.title) %>
    </h2>

    <p>
      <%= t('.matching_explanation', question: @question.text, shapeset: @shapeset.title) %>
    </p>

    <div id="mappable-matching-items">
      <ul class="list-unstyled">
        <% @question.answers.each do |answer| %>

          <li class="row">
            <div class="col-sm-6 match-dataset">
              <%= answer.text %>
              <input type="hidden" name="map[answer][]" value="<%= answer.id %>"/>
            </div>
            <div class="col-sm-6 match-shapeset">
              <select name="map[shapeset][]" class="selectpicker-matching" data-width="100%" data-live-search="true" title="">
                <option value=""></option>
                <% @shapeset.names.sort.each do |shape_name| %>
                  <%
                    selected = ''
                    selected='selected=selected' if answer.shape_name == shape_name
                  %>
                  <option value="<%= shape_name %>" <%= selected %>><%= shape_name %></option>
                <% end %>
              </select>
            </div>
          </li>
        <% end %>
      </ul>

    </div>

    <h2><%= t('.adjustable_range_header') %></h2>

    <p><%= t('.adjustable_range_p1') %></p>
    <p><%= t('.adjustable_range_p2') %></p>

    <div class="radio_buttons input optional form-group" id="has_map_adjustable_max_range">
      <label class="  control-label" for="has_map_adjustable_max_range">
        <%= t(label_key + 'has_map_adjustable_max_range') %>
      </label>
      <div class="radio">
        <label class="choice" for="has_map_adjustable_max_range_true">
          <input <%= @question.has_map_adjustable_max_range? ? "checked=checked" : '' %> id="has_map_adjustable_max_range_true" name="has_map_adjustable_max_range" type="radio" value="true">
          <%= t('formtastic.yes') %>
        </label>
      </div>
      <div class="radio">
        <label class="choice" for="has_map_adjustable_max_range_false">
          <input <%= !@question.has_map_adjustable_max_range? ? "checked=checked" : '' %> id="has_map_adjustable_max_range_false" name="has_map_adjustable_max_range" type="radio" value="false">
          <%= t('formtastic.no') %>
        </label>
      </div>
    </div>

    <div class="form-group">
      <%= submit_tag nil, :class => 'btn btn-primary' %>
      <%= link_to t('helpers.links.cancel'), mappable_dataset_path(@dataset.owner, @dataset), :class => 'btn btn-warning' %>
    </div>
  </div>

<% end %>
