<% title t('.title') %>
<%- 
  label_key_model = "mongoid.models."
  label_key = "mongoid.attributes.question."
-%>

<% if @shapeset_count > 0 %>

  <div>
    <%= link_to t('.add_map_question'), mappable_form_dataset_path(@dataset), :class => 'btn btn-success' %>
  </div>

  <% if @mappable.present? %>

    <table class="table table-striped display">
      <thead>
        <tr>
          <th><%= t(label_key_model + 'question') %></th>
          <th><%= t(label_key_model + 'shapeset') %></th>
          <th><%= t(label_key + 'has_map_adjustable_max_range') %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @mappable.each do |question| %>
          <tr>
            <td><%= question.text %></td>
            <td><%= question.shapeset.title_with_source %></td>
            <td><%= format_boolean_flag(question.has_map_adjustable_max_range?) %></td>
            <td>
              <%= link_to '',
                          mappable_form_edit_dataset_path(:id => @dataset, :question_id => question.id), 
                          :title => t('helpers.links.edit'),
                          :class => 'btn btn-edit btn-xs' %>
              <%= link_to '',
                          remove_mapping_dataset_path(:id => @dataset, :question_id => question.id),
                          :title => t("helpers.links.destroy"),
                          :method => :delete,
                          :data => { :confirm => I18n.t("helpers.links.confirm") },
                          :class => 'btn btn-delete btn-xs' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>



<% else %>

  <p>
    <%= t('.no_shapes') %>
    <% if current_user.role?(User::ROLES[:admin]) %>
      <%= link_to t('.add_shapes'), admin_shapesets_path %>
    <% end %>
  </p>

<% end %>