<%- model_class = Question -%>
<% title t('.title') %>

<% if @dataset.questions.with_code_answers.present? %>

  <%= form_tag mass_changes_questions_dataset_path(@dataset), id: 'frm-dataset-exclude-questions', class: 'form-data-loader' do %>

    <p>
      <%= t('.explanation') %>
    </p>

    <div class="data-loader-container">

      <div class="dataset-exclude-questions-save">
        <%= submit_tag t('app.buttons.save_settings'), class: 'btn btn-success' %>
      </div>

      <table id='dataset-exclude-questions' class="table table-striped table-hover table-nonfluid">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:code) %></th>
            <th><%= model_class.human_attribute_name(:text) %></th>
            <th>
              <%= model_class.human_attribute_name(:exclude) %>
              <%= link_to '#', class: 'btn btn-default btn-xs btn-select-all', :'data-state' => 'all', :'data-type' => 'exclude' do %>
                <span class="glyphicon glyphicon-ok" title="<%= t('helpers.links.select_all') %>"></span>
              <% end %>
            </th>
            <th>
              <%= model_class.human_attribute_name(:can_download) %>
              <%= link_to '#', class: 'btn btn-default btn-xs btn-select-all', :'data-state' => 'all', :'data-type' => 'download' do %>
                <span class="glyphicon glyphicon-ok" title="<%= t('helpers.links.select_all') %>"></span>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div id="hidden-table-inputs" style="display:none;"></div>

      <div class="dataset-exclude-questions-save">
        <%= submit_tag t('app.buttons.save_settings'), class: 'btn btn-success' %>
      </div>

      <div class="data-loader"></div>

    </div>
  <% end %>

<% else %>
  <p>
    <%= t('.no_questions') %>
  </p>
<% end %>
