<% title t('.title', :title => @dataset.title) %>

<% if @dataset.has_warnings? %>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#no_text" role="tab" data-toggle="tab"><%= t('.tab_no_text') %></a></li>
    <li role="presentation"><a href="#no_answers" role="tab" data-toggle="tab"><%= t('.tab_no_answers') %></a></li>
    <li role="presentation"><a href="#bad_answers" role="tab" data-toggle="tab"><%= t('.tab_bad_answers') %></a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="no_text">
      <% if @no_text.present? %>
        <p>
          <%= t('.no_text', :number => @no_text.length) %>
        </p>

        <ul>
          <% @no_text.each do |item| %>
            <li>
              <%= item %>
            </li>
          <% end %>
        </ul>
      <% else %>

        <p>
          <%= t('.no_no_text') %>
        </p>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="no_answers">
      <% if @no_answers.present? %>
        <p>
          <%= t('.no_answers', :number => @no_answers.length) %>
        </p>

        <ul>
          <% @no_answers.each do |item| %>
            <li>
              <%= "#{item.original_code} - #{item.text}" %>
            </li>
          <% end %>
        </ul>
      <% else %>

        <p>
          <%= t('.no_no_answers') %>
        </p>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="bad_answers">
      <% if @bad_answers.present? %>
        <p>
          <%= t('.bad_answers', :number => @bad_answers.length) %>
        </p>

        <ul>
          <% @bad_answers.each do |item| %>
            <% question = @dataset.questions.with_original_code(item) %>
            <% if question.present? %>
              <li>
                <%= "#{question.original_code} - #{question.text}" %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% else %>

        <p>
          <%= t('.no_bad_answers') %>
        </p>
      <% end %>
    </div>


  </div>

<% else %>

  <p>
    <%= t('.no_warnings') %>
  </p>

<% end %>