<% title t('.title') %>

  <% if current_user.role? @site_admin_role %>
     <div class="col-sm-4">
   		<ul class="standard">
   			<li>
         <%= link_to t('.page_contents'), admin_page_contents_path %>
        </li>
        <li>
         <%= link_to t('.api_documentation'), admin_api_versions_path %>
        </li>
        <li>
         <%= link_to t('.shapesets'), admin_shapesets_path %>
        </li>
        <li>
         <%= link_to t('.download_api_requests'), admin_download_api_requests_path %>
        </li>
        <% if current_user.role? User::ROLES[:admin] %>
          <li>
           <%= link_to t('.users'), admin_users_path %>
          </li>
        <% end %>
   		</ul>
    </div>
  <% end %>
