<% title t('.title') %>

  <% if current_user.role? @site_admin_role %>
     <div class="col-sm-4">
   		<ul class="standard">
   			<li><%= link_to t('.page_contents'), admin_page_contents_path %></li>
        <li><%= link_to t('.categories'), admin_categories_path %></li>
        <li><%= link_to t('.api_documentation'), admin_api_versions_path %></li>
        <li><%= link_to t('.shapesets'), admin_shapesets_path %></li>
        <li><%= link_to t('.users'), admin_users_path %></li>
        <li><%= link_to t('.help_categories'), admin_help_categories_path %></li>
   		</ul>
    </div>

    <div class="col-sm-4">
      <p>
        <%= t('.download_download_requests') %>:<br />
        <%= link_to t('app.buttons.csv.title'), admin_download_download_requests_path(format: 'csv'), title: t('app.buttons.csv.tooltip'), class: 'btn btn-primary btn-xs' %>
        <%= link_to t('app.buttons.xlsx.title'), admin_download_download_requests_path(format: 'xlsx'), title: t('app.buttons.xlsx.tooltip'), class: 'btn btn-primary btn-xs' %>
      </p>
      <p>
        <%= t('.download_api_requests') %>:<br />
        <%= link_to t('app.buttons.csv.title'), admin_download_api_requests_path(format: 'csv'), title: t('app.buttons.csv.tooltip'), class: 'btn btn-primary btn-xs' %>
        <%= link_to t('app.buttons.xlsx.title'), admin_download_api_requests_path(format: 'xlsx'), title: t('app.buttons.xlsx.tooltip'), class: 'btn btn-primary btn-xs' %>
      </p>
    </div>
  <% end %>
