<% title @highlight_data[:title] if @highlight_data[:title] %>

<div class="highlight-data" data-id="<%= @highlight_data[:id] %>" data-explore-link="<%= @highlight_data[:explore_link] %>">
  <% if @highlight_data[:error] %>
    <div id="explore-error">
      <p>
        <%= t('app.msgs.explore_error') %>
      </p>
    </div>
  <% else %>
    <div class="boxic">
      <% if params[:exclude_title].nil? || (params[:exclude_title].present? && params[:exclude_title].to_bool != true) %>
      <div class="embed-title">
        <h3><%= link_to @highlight_data[:title], @highlight_data[:dashboard_link], target: '_parent' %></h3>
        <% if params[:exclude_links].nil? || (params[:exclude_links].present? && params[:exclude_links].to_bool != true) %>
          <div class="embed-links">
            <ul>
              <li>
                <%= link_to root_url, target: '_parent' do %>
                  <%= image_tag 'svg/widget_link.svg', title: t('.title_site', app_name: t("app.common.#{@app_key_name}.app_name")) %>
                <% end %>
              </li>
              <li>
                <%= link_to explore_data_url, target: '_parent' do %>
                  <%= image_tag 'svg/widget_datalist.svg', title: t('.title_datalist') %>
                <% end %>
              </li>
            </ul>              
          </div>
        <% end %>
      </div>
      <% end %>
      <div id="explore-data" class="embed-item">
        <div id="container-chart"></div>
        <div id="container-map" class="embed-item"></div>
      </div>
    </div>
  <% end %>
</div>