<% title "#{@api_version.title} - #{@api_method.title}" %>

<div class="api-documentation article">
  <div class="m-doc-links">
    <div class="box">
      <%= link_to api_path do%>
            <div class="back"></div>
            <%= t('helpers.links.api_home') %>
      <% end %>
      <select  onchange="location = this.options[this.selectedIndex].value;">
        <% @api_version.api_methods.is_public.sorted.each do |method| %>
          <option value='<%=  "/#{I18n.locale}/api/#{@api_version.permalink}/documentation/#{method.permalink}" %>'>
            <%= method.title %>
          </option>
        <% end %>
      </select>

      
    </div>
  </div>
  <div class="col-left">
      <h1><%= yield(:title) %></h1>
    <div id="api-dates">
      <div class="calendar"></div>
      <%= format_api_method_dates(@api_method) %>
    </div>
    <% if @api_method.content.present? %>
      <div class="tinymce_format">
        <%= simple_format_no_tags(@api_method.content, {}, {sanitize: false}) %>
      </div>
    <% else %>
      <p>
        <%= t('.no_content') %>
      </p>
    <% end %>
  </div>
  <div class="col-right doc-links">
    <div class="box">
      <div class="header">
        <div><%= @api_version.title %></div>
        <div class="line"></div>
      </div>
      <ul class="list-unstyled">
        <% @api_version.api_methods.is_public.sorted.each do |method| %>
          <li>
            <%= link_to method.title, "/#{I18n.locale}/api/#{@api_version.permalink}/documentation/#{method.permalink}" %>
          </li>
        <% end %>
      </ul>
      <%= link_to api_path do%>
            <div class="back"></div>
            <%= t('helpers.links.api_home') %>
      <% end %>
      
    </div>
  </div>
</div>