<%-
  is_sub_group ||= false
-%>
      <tr>  
        <td>
          <%= is_sub_group ? group.parent_id.present? ? group.parent.title : '' : group.title %>
        </td>
        <td>
          <%= is_sub_group ? group.title : '' %>
        </td>
        <td>
          <%= group.description %>
        </td>
        <td>
          <%= format_boolean_flag(group.include_in_charts) %>
        </td>
        <td>
          <%= link_to t('.question_count', num: group.question_count), '#', class: 'questions btn btn-default' %>

          <div class="group-questions">
            <ul>
              <% group.get_questions_by_type.each do |question| %>
                <li>
                  <%= question.code_with_text %>
                </li>
              <% end %>
            </ul>
          </div>
        </td>
        <td>
          <%= link_to '',
                      edit_dataset_group_path(@dataset, group), 
                      :title => t('helpers.links.edit'),
                      :class => 'btn btn-xs btn-edit' %>
          <%= link_to '',
                      dataset_group_path(@dataset, group),
                      :title => t("helpers.links.destroy"),
                      :method => :delete,
                      :data => { :confirm => I18n.t("helpers.links.confirm") },
                      :class => 'btn btn-xs btn-delete' %>
        </td>
      </tr>
