<% title t('.title') %>
<%- 
  label_key = "mongoid.attributes.group."
-%>

<div class="form-group form-group-admin-buttons">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_dataset_group_path,
              :class => 'btn btn-primary' %>
</div>

<% if @groups.present? %>

  <table id="group-datatable" class="table table-striped display">
    <thead>
      <tr>
        <th><%= t(label_key + 'title') %></th>
        <th><%= t(label_key + 'sub_group') %></th>
        <th><%= t(label_key + 'description') %></th>
        <th><%= t(label_key + 'include_in_charts') %></th>
        <th><%= t(label_key + 'codes') %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <%= render :partial => 'groups/table_row', locals: {group: group} %>
        <% group.sub_groups.each do |sub_group| %>
          <%= render :partial => 'groups/table_row', locals: {group: sub_group, is_sub_group: true} %>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div id="questions-popup" style="display:none;">
    <div class='question-modal'>
      <div class='header' data-title="<%= t('.modal.header') %>"></div>
      <div class='text'></div>
      <div class='closeup' onclick='js_modal_off();'></div>
    </div>
  </div>

<% else %>

  <p>
    <%= t('.no_groups') %>
  </p>

<% end %>