<%- model_class = User -%>
<% title t('helpers.links.change_password') %> 
<% @show_title = false %>

<div id="change-password-form">
   <div class="red-box long"><%= t('helpers.links.change_password2') %></div>
  <%= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :id => 'change_password', :method => :put, :"data-form-id"=>"change-password-form" }) do |f| %>
      <%= f.error_messages %>
      <%= f.hidden_field :reset_password_token %>

      <%= f.input :password, :input_html => { :size => 35 , :class => "login-password", :autofocus => true }, :placeholder => model_class.human_attribute_name(:password).upcase+" *" , :label => false  %>
      <%= f.input :password_confirmation, :input_html => { :size => 35 , :class => "login-password-confirmation" }, :placeholder => model_class.human_attribute_name(:password_confirmation).upcase+" *" , :label => false  %>

      <div class="control-group submit-row">
         <%= f.submit t('helpers.links.change_password'), :class => 'btn btn-default pass-reset' %>
      </div>
   <% end %>
</div>
