<div class="agreement" id="agreement">
   <div class="red-box"><%= t('helpers.links.agreement') %></div>
   <%= semantic_form_for(@mod, html: {class: 'tabbed-translation-form'}, :remote => true) do |f| %>
       <%= f.inputs do %>  
         <%= render :partial => 'shared/agreement', :locals => { f: f } %>
         <input id="download_file_id" name="download_file_id" type="hidden" value="<%= @file_id %>">
      <% end %>   

      <div class="form-group">
        <%= link_to(t('helpers.links.sign_in'), new_user_session_path, class: 'reattach sign_in')  %>
      </div>

      <div class="form-group">
       <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>

   <% end %>   
</div>