<div role="tabpanel" class="tabbed-translation-fields">
  <%
    locales = I18n.available_locales
  %>

  <ul class="nav nav-tabs" role="tablist"
      data-default-language-icon="<span class='glyphicon glyphicon-star' title='<%= t('helpers.default_language') %>'></span>">
    <%
      default_locale = I18n.default_locale.to_s
      default_lang = ''
    %>
    <% locales.each_with_index do |locale, index| %>
      <%
        lang = @languages.select{|x| x.locale == locale.to_s}.first
        cls = ''
        if index == 0
          cls = 'class=active'
          default_locale = locale
          default_lang = lang.present? ? lang.name : locale
        end
      %>
      <li role="presentation" <%= cls %> data-locale="<%= locale %>">
        <a href="#<%= locale %>" aria-controls="home" role="tab" data-toggle="tab">
          <%= lang.present? ? lang.name : locale %>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% locales.each_with_index do |locale, index| %>
      <%
        cls = ''
        cls = 'in active' if index == 0
      %>
      <div role="tabpanel" class="tab-pane fade <%= cls %>" id="<%= locale %>" data-locale="<%= locale %>">
        <%= yield index, locale %>
      </div>
    <% end %>
  </div>
</div>
