<%-
  model_class = TimeSeries
  model_class_d = Dataset
  is_admin_page = request.path == time_series_path(@time_series.owner, @time_series)
  show_share = true if show_share.nil?

  subnav_left render(partial: 'shared/language_switcher', locals: {langs: @time_series.language_objects, current_locale: @time_series.current_locale, share: show_share})
-%>

<div class="article timeseries">
  <div class="meta">
    <div class="col">
      <h2>
        <%= image_tag 'svg/timeseries.svg' %>
        <%=@time_series.title%>
      </h2>
      <% @datasets.each_with_index do |dataset, dataset_index| %>
        <div class="info">
          <div class="time-series-year<%= dataset_index == @datasets.length-1 ? ' last' : '' %>">
            <%= @time_series.dates_included[dataset_index] %>
          </div>
          <div class="timestamps">
            <div class="timestamp">
              <span><%= model_class_d.human_attribute_name(:gathered_at) %>:</span>
              <%= format_gathered_dates(dataset.start_gathered_at, dataset.end_gathered_at) %>
            </div>
            <div class="timestamp">
              <span><%= model_class_d.human_attribute_name(:released_at) %>:</span>
              <%= l dataset.released_at, format: :day_first if dataset.released_at.present? %>
            </div>
          </div>
          <% if dataset_index == 0 && !@is_time_series_admin %>
            <div class="share"><div class="prompt"><%= t('app.common.share') %></div><div class="addthis_sharing_toolbox"></div></div>
          <% end %>
        </div>
      <% end %>
      <div class="info">
        <div class="timestamps no-padding">
          <div class="upload"><span><%= "#{model_class.human_attribute_name(:user_id)}: " %></span><%= link_to @time_series.user.name, owner_dashboard_path(@time_series.user) %></div>
        </div>
      </div>
      <% if @time_series.description.present? %>
        <div class="description">
          <%= simple_format_no_tags(@time_series.description, {}, {sanitize: false}) %>
        </div>
      <% end %>
    </div>
    <div class="col">
      <div class="category">
        <% if @time_series.categories.present? %>
            <div class="text"><%= t('app.buttons.categories') %>:</div>
            <ul>
              <% @time_series.categories.each {|x| %>
                <li class="item">
                  <%= link_to explore_time_path(category: x.permalink) do %>
                    <div class="text"><span><%= x.name %></span></div>
                  <% end %>
                </li>
              <% } %>
            </ul>
        <% end %>
      </div>
      <div class="links">
        <%= link_to url_time_series_explore(@time_series, language: params[:language]), title: t('app.menu.titles.explore_time_series') do %>
            <%= image_tag 'svg/chart.svg' %>
            <%= t('app.menu.explore_data') %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="dashboard-tabs" class="tabs style1" role="tabpanel">
      <%
        highlight_active = {tab: '', panel: ''}
        codebook_active = {tab: 'active', panel: 'in active'}
        active_tab_label = t('.tabs.codebook')
        if @highlights.present?
          highlight_active = {tab: 'active', panel: 'in active'}
          codebook_active = {tab: '', panel: ''}
          active_tab_label = t('.tabs.highlights')
        end
      %>
    <div class="tab-header">
      <div class="tab-caption"><%= active_tab_label %></div>
      <button type="button" class="navbar-toggle tab-toggle collapsed" data-toggle="collapse" data-target=".tab-collapse">
        <span class="sr-only"><%= t('.toggle') %></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <ul class="nav nav-tabs collapse tab-collapse" role="tablist">
      <li role="presentation" class="<%= highlight_active[:tab] %>">
        <a href="#highlights" aria-controls="highlights" role="tab" data-toggle="tab"><%= t('.tabs.highlights') %></a>
      </li>
      <li role="presentation" class="<%= codebook_active[:tab] %>">
        <a href="#codebook" aria-controls="codebook" role="tab" data-toggle="tab"><%= t('.tabs.codebook') %></a>
      </li>
      <li role="presentation">
        <a href="#datasets" aria-controls="datasets" role="tab" data-toggle="tab"><%= t('.tabs.datasets') %></a>
      </li>
      <li role="presentation">
        <a href="#meta" aria-controls="meta-data" role="tab" data-toggle="tab"><%= t('.tabs.meta') %></a>
      </li>
      <li role="presentation">
        <a href="#licensing" aria-controls="licensing" role="tab" data-toggle="tab"><%= t('.tabs.licensing') %></a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade <%= highlight_active[:panel] %> masonry" id="highlights">
        <% if !@highlights.present? %>
          <p>
            <%= t('.no_highlights') %>
          </p>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane fade <%= codebook_active[:panel] %>" id="codebook">
        <%
          items = @time_series.arranged_items(include_groups: true, include_subgroups: true, include_questions: true)
        %>
        <div id="codebook-search">
          <input type="search" class="codebook-search" id="filter" value="" placeholder="<%= t('helpers.search') %>" />
          <div class="radio-box-group">
            <div class="radio-box" tabindex="0">
              <input checked id="filter_all" name="filter" type="radio" value="all" />
              <label class="filter" for="filter_all"><%= t('.filter.all') %></label>
            </div>
            <div class="radio-box" tabindex="0">
              <input id="filter_q" name="filter" type="radio" value="q" />
              <label class="filter" for="filter_q"><%= t('.filter.questions') %></label>
            </div>
            <div class="radio-box" tabindex="0">
              <input id="filter_code" name="filter" type="radio" value="code" />
              <label class="filter" for="filter_code"><%= t('.filter.codes') %></label>
            </div>
            <div class="radio-box" tabindex="0">
              <input id="filter_ans" name="filter" type="radio" value="ans" />
              <label class="filter" for="filter_ans"><%= t('.filter.answers') %></label>
            </div>
          </div>
          <% groups = items.select{|x| x.class == TimeSeriesGroup} %>
          <% if groups.length > 0 %>
            <div class="codebook-jumpto">
              <select data-live-search="true" data-hide-disabled='true' data-width="auto" class="selectpicker-group" id="codebook-jumpto" title="<%= t('.jumpto_group') %>">
                <%= generate_codebook_time_series_group_options(groups) %>
              </select>
            </div>
          <% end %>
        </div>
        <div class="up"></div>
        <%= generate_codebook_time_series_list(items) %>
      </div>

      <div role="tabpanel" class="tab-pane fade list" id="datasets">
        <%= render partial: 'root/explore_data_datasets', locals: {with_pagination: false, with_time_series_link: false} %>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="meta">
        <div class="col details">

          <div>
            <div class="col k"><%= model_class.human_attribute_name(:user_id) %>: </div>
            <div class="col">
              <% if @time_series.user_id.present? %>
                <%= link_to @time_series.user.name, owner_dashboard_path(@time_series.user), class: 'owner-link' %>
              <% end %>
            </div>
          </div>

          <div>
            <div class="col k"><%= model_class.human_attribute_name(:country_ids) %>: </div>
            <div class="col">
              <%= @time_series.countries.map{|x| x.name}.join(', ') %>
            </div>
          </div>

        <div>
          <div class="col k"><%= model_class.human_attribute_name(:categories) %>: </div>
          <div class="col">
           <% @time_series.categories.each {|x| %>
                  <%= link_to explore_data_path(category: x.permalink) do %>
                    <div class="text"><span><%= x.name %></span></div>
                  <% end %>
              <% } %>
          </div>
        </div>
        
          <div>
            <div class="col k"><%= model_class_d.human_attribute_name(:gathered_at) %>: </div>
            <div class="col">
              <ul>
                <% @datasets.each_with_index do |dataset, dataset_index| %>
                  <li>
                    <%= @time_series.dates_included[dataset_index] %>:
                    <%= format_gathered_dates(dataset.start_gathered_at, dataset.end_gathered_at) %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>


          <div>
            <div class="col k"><%= model_class_d.human_attribute_name(:released_at) %>: </div>
            <div class="col">
              <ul>
                <% @datasets.each_with_index do |dataset, dataset_index| %>
                  <li>
                    <%= @time_series.dates_included[dataset_index] %>:
                    <%= l dataset.released_at, format: :day_first if dataset.released_at.present? %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>

          <div>
            <div class="col k"><%= model_class.human_attribute_name(:created_at) %>: </div>
            <div class="col">
              <%= l @time_series.created_at, format: :day_first %>
            </div>
          </div>

          <div>
            <div class="col k"><%= model_class.human_attribute_name(:updated_at) %>: </div>
            <div class="col">
              <%= l @time_series.updated_at, format: :day_first %>
            </div>
          </div>

        </div>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="licensing">
        <% if @time_series.license_title.present? %>
          <h3><%= @time_series.license_title %></h3>
          <% if @time_series.license_description.present? %>
            <%= simple_format_no_tags(@time_series.license_description, {}, {sanitize: false}) %>
          <% end %>
          <% if @time_series.license_url.present? %>
            <p>
              <%= link_to t('.learn_more'), @time_series.license_url, target: :blank %>
            </p>
          <% end %>
        <% else %>
          <p><%= t('.no_license') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
