<%-
  model_class = Dataset
  r_model_class = Report
  is_admin_page = request.path == dataset_path(@dataset)
  show_share = true if show_share.nil?
  show_private_questions = false if show_private_questions.nil?

  subnav_left render(partial: 'shared/language_switcher', locals: {langs: @dataset.language_objects, current_locale: @dataset.current_locale, share: show_share})

-%>
<div class="article dashboard">
  <div class="meta">
    <div class="col">
      <h2><%=@dataset.title%></h2>
      <div class="info">
        <div class="timestamps">
          <div class="timestamp">
            <span><%= model_class.human_attribute_name(:gathered_at) %>:</span>
            <%= format_gathered_dates(@dataset.start_gathered_at, @dataset.end_gathered_at) %>
          </div>
          <div class="timestamp">
            <span><%= model_class.human_attribute_name(:released_at) %>:</span>
            <%= I18n.l(@dataset.released_at, format: :day_first) if @dataset.released_at.present? %>
          </div>
        </div>
        <div class="source"><span><%= "#{model_class.human_attribute_name(:source)}: " %></span><%= "#{@dataset.source}" %></div>
        <% if !@is_dataset_admin %>
          <div class="share share-box"><div class="prompt"><%= t('app.common.share') %></div><div class="addthis_sharing_toolbox"></div></div>
        <% end %>
      </div>
      <% if @dataset.description.present? %>
        <div class="description">
          <%= simple_format_no_tags(@dataset.description, {}, {sanitize: false}) %>
        </div>
      <% end %>
    </div>
    <div class="col">
      <div class="category">
        <% if @dataset.categories.present? %>
            <div class="text"><%= t('app.buttons.categories') %>:</div>
            <ul>
              <% @dataset.categories.each {|x| %>
                <li class="item">
                  <%= link_to explore_data_path(category: x.permalink) do %>
                    <div class="text"><span><%= x.name %></span></div>
                    <div class="box"><div class="img <%= x.permalink %>" alt="<%= x.name %>"></div></div>
                  <% end %>
                </li>
              <% } %>
            </ul>
        <% end %>
      </div>
      <div class="links">
        <%= link_to url_dataset_explore(@dataset, language: params[:language]), title: t('app.menu.titles.explore_dataset') do %>
            <%= image_tag 'svg/chart.svg' %>
            <%= t('app.menu.explore_data') %>
        <% end %>

        <% if @dataset.time_series_datasets.present? %>
          <%= link_to url_dataset_to_times_series_dashboard(@dataset.id, @dataset.time_series_datasets.first.time_series_id),  title: t('app.menu.titles.dataset_to_time_series') do %>
            <%= image_tag 'svg/timeseries.svg' %>
            <%= t('app.menu.time_series') %>
          <% end %>
        <% end %>
        <% if @dataset.urls.present? && @dataset.urls.codebook.present? %>
            <div class="download-wrapper" >
              <div class="download" data-id="<%= @dataset.id.to_s %>" data-lang="<%= @dataset.current_locale %>" data-download-type="public">
              <%= image_tag 'svg/download_big.svg', alt: t('helpers.links.download_data') %>
              <%= t('helpers.links.download_data') %>
              <ul>
                <li><div class="type" data-type='csv' title="<%= t('download_data_options.title.csv') %>" data-placement="left"><%= t('download_data_options.text.csv') %></div></li>
                <li><div class="type" data-type='r' title="<%= t('download_data_options.title.r') %>" data-placement="left"><%= t('download_data_options.text.r') %></div></li>
                <li><div class="type" data-type='spss' title="<%= t('download_data_options.title.spss') %>" data-placement="left"><%= t('download_data_options.text.spss') %></div></li>
                <li><div class="type" data-type='stata' title="<%= t('download_data_options.title.stata') %>" data-placement="left"><%= t('download_data_options.text.stata') %></div></li>
              </ul>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

<div id="dashboard-tabs" class="tabs style1" role="tabpanel">
    <%
      highlight_active = {tab: '', panel: ''}
      method_active = {tab: 'active', panel: 'in active'}
      codebook_active = {tab: '', panel: ''}
      active_tab_label = t('.tabs.methodology')
      if @highlights.present?
        highlight_active = {tab: 'active', panel: 'in active'}
        method_active = {tab: '', panel: ''}
        active_tab_label = t('.tabs.highlights')
      elsif !@dataset.methodology.present?
        method_active = {tab: '', panel: ''}
        codebook_active = {tab: 'active', panel: 'in active'}
        active_tab_label = t('.tabs.codebook')
      end
    %>
  <div class="tab-header">
    <div class="tab-caption"><%= active_tab_label %></div>
    <button type="button" class="navbar-toggle tab-toggle collapsed" data-toggle="collapse" data-target=".tab-collapse">
      <span class="sr-only"><%= t('.toggle') %></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <ul class="nav nav-tabs collapse tab-collapse" role="tablist">
    <li role="presentation" class="<%= highlight_active[:tab] %>">
      <a href="#highlights" aria-controls="highlights" role="tab" data-toggle="tab"><%= t('.tabs.highlights') %></a>
    </li>
    <li role="presentation" class="<%= method_active[:tab] %>">
      <a href="#methodology" aria-controls="methodology" role="tab" data-toggle="tab"><%= t('.tabs.methodology') %></a>
    </li>
    <li role="presentation" class="<%= codebook_active[:tab] %>">
      <a href="#codebook" aria-controls="codebook" role="tab" data-toggle="tab"><%= t('.tabs.codebook') %></a>
    </li>
    <li role="presentation">
      <a href="#reports" aria-controls="reports" role="tab" data-toggle="tab"><%= t('.tabs.reports') %></a>
    </li>
    <li role="presentation">
      <a href="#licensing" aria-controls="licensing" role="tab" data-toggle="tab"><%= t('.tabs.licensing') %></a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade <%= highlight_active[:panel] %> masonry" id="highlights">
      <% if !@highlights.present? %>
        <p>
          <%= t('.no_highlights') %>
        </p>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane fade <%= method_active[:panel] %>" id="methodology">
      <% if @dataset.methodology.present? %>
        <div class="tinymce_format">
          <%= simple_format_no_tags(@dataset.methodology, {}, {sanitize: false}) %>
        </div>
        <div class="up"></div>
      <% else %>
        <p>
          <%= t('.no_methodology') %>
        </p>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane fade <%= codebook_active[:panel] %>" id="codebook">
      <% 
        items = show_private_questions == true ? @dataset.questions.arranged('analysis_with_exclude_questions') : @dataset.questions.arranged('analysis') 
      %>
      <div id="codebook-search">
        <input type="search" class="codebook-search" id="filter" value="" placeholder="<%= t('helpers.search') %>" />
        <%= link_to @dataset.urls.codebook, class: 'download-direct',  title: t("app.common.codebook_title") do %>
                  <% end %>
        <div class="radio-box-group">
          <div class="radio-box" tabindex="0">
            <input checked id="filter_all" name="filter" type="radio" value="all" />
            <label class="filter" for="filter_all"><%= t('.filter.all') %></label>
          </div>
          <div class="radio-box" tabindex="0">
            <input id="filter_q" name="filter" type="radio" value="q" />
            <label class="filter" for="filter_q"><%= t('.filter.questions') %></label>
          </div>
          <div class="radio-box" tabindex="0">
            <input id="filter_code" name="filter" type="radio" value="code" />
            <label class="filter" for="filter_code"><%= t('.filter.codes') %></label>
          </div>
          <div class="radio-box" tabindex="0">
            <input id="filter_ans" name="filter" type="radio" value="ans" />
            <label class="filter" for="filter_ans"><%= t('.filter.answers') %></label>
          </div>  
        </div>
        <% groups = items.select{|x| x.class == Group} %>
        <% if groups.length > 0 %>
          <div class="codebook-jumpto">
            <select data-live-search="true" data-hide-disabled='true' data-width="auto" class="selectpicker-group" id="codebook-jumpto" title="<%= t('.jumpto_group') %>">
              <%= generate_codebook_groups(groups) %>
            </select>
          </div>       
        <% end %>
      </div>
      <div class="up"></div>
      <%= generate_codebook_list(items, show_private_questions) %>
    </div>

    <div role="tabpanel" class="tab-pane fade list" id="reports">
      <ul>
        <% if @dataset.reports.present? %>
          <% @dataset.reports.sorted.each do |report| %>
            <% lng = report.language.present? ? "lang=#{report.language.locale}" : '' %>
            <li>
              <div class="caption">
                <div class="title" <%= lng %>><%= report.title %></div>
                <%= link_to report.file.url, class: 'download-direct', target: :blank, title: "#{report.file_type} - #{number_to_human_size(report.file_file_size).to_s}" do %>
                <% end %>
              </div>
              <div class="info">
                <div class="calendar"></div>
                <div class="timestamps">
                  <div class="timestamp"><span><%= "#{r_model_class.human_attribute_name(:released_at)}:"%></span> <%= "#{l report.released_at, format: :day_first}" %></div>
                </div>
                <% if report.language.present? %>
                <div class="language"><span><%= "#{r_model_class.human_attribute_name(:language_id)}:"%></span> <b <%= lng %>><%= "#{report.language.name}" %></b></div>
                <% end %>
              </div>
              <% if report.summary.present? %>
                <div class="description"  <%= lng %>><%= simple_format(report.summary, {}, {sanitize: false}) %></div>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <li><div class="no-data-found"> <%= t('.no_reports') %></div></li>
        <% end %>
       </ul>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="licensing">
      <% if @license.present? %>
        <div class="tinymce_format">
          <%= simple_format_no_tags(@license.content, {}, {sanitize: false}) %>
        </div>
      <% else %>
        comming soon...
      <% end %>
    </div>
  </div>

</div>
</div>
