<% 
  model_class = Dataset 
  r_model_class = Report 
  is_admin_page = request.path == dataset_path(@dataset)
%>

<div id="dashboard-meta" class="row">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-6" id="meta-dates">
        <%= model_class.human_attribute_name(:gathered_at) %>:
        <%= format_gathered_dates(@dataset.start_gathered_at, @dataset.end_gathered_at) %>
      </div>
      <div class="col-sm-3" id="meta-dates">
        <%= model_class.human_attribute_name(:released_at) %>:
        <%= I18n.l(@dataset.released_at, format: :day_first) if @dataset.released_at.present?  %>
      </div>
      <% if @is_xtraktr %>
        <div class="col-sm-3" id="meta-source">
          <%= model_class.human_attribute_name(:source) %>:
          <%= @dataset.source %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="dashboard-description" class="row">
  <div class="col-sm-9">
    <% if @dataset.description.present? %>
      <div class="tinymce_format">
        <%= simple_format_no_tags(@dataset.description, {}, {sanitize: false}) %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3" style="text-align: right;">
    <ul class="list-unstyled">
      <li>
        <%= link_to t('app.menu.explore_data'), url_dataset_explore(@dataset, language: params[:language]), class: 'btn btn-primary btn-sm', title: t('app.menu.titles.explore_dataset') %>
      </li>
      <% if @dataset.time_series_datasets.present? %>
        <li>
          <%= link_to t('app.menu.time_series'), url_dataset_to_times_series_dashboard(@dataset.id, @dataset.time_series_datasets.first.time_series_id), class: 'btn btn-primary btn-sm', title: t('app.menu.titles.dataset_to_time_series') %>
        </li>
      <% end %>
      
      <% if @dataset.urls.present? && @dataset.urls.codebook.present? %>
        <li>
          <div class="download-wrapper" >
            <div class="download" data-id="<%= @dataset.id.to_s %>" data-lang="<%= @dataset.current_locale %>" title="<%= t('helpers.links.download_data') %>" data-placement="top" data-class="tooltip-download">
            <ul>
              <li><div class="type" data-type='csv' title="<%= t('download_data_options.title.csv') %>" data-placement="left"><%= t('download_data_options.text.csv') %></div></li>
              <li><div class="type" data-type='r' title="<%= t('download_data_options.title.r') %>" data-placement="left"><%= t('download_data_options.text.r') %></div></li>
              <li><div class="type" data-type='spss' title="<%= t('download_data_options.title.spss') %>" data-placement="left"><%= t('download_data_options.text.spss') %></div></li>
              <li><div class="type" data-type='stata' title="<%= t('download_data_options.title.stata') %>" data-placement="left"><%= t('download_data_options.text.stata') %></div></li>
            </ul>                 
          </div>        
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="dashboard-tabs" role="tabpanel">
    <% 
      highlight_active = {tab: '', panel: ''}
      method_active = {tab: 'active', panel: 'in active'}
      codebook_active = {tab: '', panel: ''}
      if @highlights.present?
        highlight_active = {tab: 'active', panel: 'in active'}
        method_active = {tab: '', panel: ''}
      elsif !@dataset.methodology.present? 
        method_active = {tab: '', panel: ''}
        codebook_active = {tab: 'active', panel: 'in active'}
      end 
    %>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="<%= highlight_active[:tab] %>">
      <a href="#highlights" aria-controls="highlights" role="tab" data-toggle="tab"><%= t('.tabs.highlights') %></a>
    </li>
    <li role="presentation" class="<%= method_active[:tab] %>">
      <a href="#methodology" aria-controls="methodology" role="tab" data-toggle="tab"><%= t('.tabs.methodology') %></a>
    </li>
    <li role="presentation" class="<%= codebook_active[:tab] %>">
      <a href="#codebook" aria-controls="codebook" role="tab" data-toggle="tab"><%= t('.tabs.codebook') %></a>
    </li>
    <li role="presentation">
      <a href="#reports" aria-controls="reports" role="tab" data-toggle="tab"><%= t('.tabs.reports') %></a>
    </li>
    <li role="presentation">
      <a href="#licensing" aria-controls="licensing" role="tab" data-toggle="tab"><%= t('.tabs.licensing') %></a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade <%= highlight_active[:panel] %>" id="highlights">
      <% if @highlights.present? %>
        <% @highlights.shuffle.each do |highlight| %>
          <div class="highlight <%= highlight.visual_type_name %>">
            <iframe src="<%= embed_v1_path(id: highlight.embed_id) %>"></iframe>
          </div>
        <% end %>
      <% else %>
        <p>
          <%= t('.no_highlights') %>
        </p>
      <% end %>
    </div>
    
    <div role="tabpanel" class="tab-pane fade <%= method_active[:panel] %>" id="methodology">
      <% if @dataset.methodology.present? %>
        <div class="tinymce_format">
          <%= simple_format_no_tags(@dataset.methodology, {}, {sanitize: false}) %>
        </div>
      <% else %>
        <p>
          <%= t('.no_methodology') %>
        </p>
      <% end %>
    </div>
    
    <div role="tabpanel" class="tab-pane fade <%= codebook_active[:panel] %>" id="codebook">
      <div id="codebook-search" class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input type="text" class="text-input col-sm-3" id="filter" class="form-control" value="" placeholder="<%= t('helpers.search') %>" />
      </div>
      <ul class="list-unstyled">
        <% @dataset.questions.for_analysis.each do |question| %>
          <li class="row">
            <div class="col-sm-4 question">
              <h3>
                <%= link_to url_dataset_explore(@dataset, question_code: question.code, language: params[:language]) do %>
                  <%= question.original_code %>:
                  <br />
                  <%= question.text %>
                <% end %>
              </h3>
            </div>
            <div class="col-sm-8 details">
              <div class="row question-row">
                <div class="col-sm-1 headers">
                  <%= t('app.common.question') %>:                  
                </div>
                <div class="col-sm-11">
                  <%= question.text %>
                </div>
              </div>
              <% if question.notes.present? %>
                <div class="row notes-row">
                  <div class="col-sm-1 headers">
                    <%= t('app.common.notes') %>:                  
                  </div>
                  <div class="col-sm-11">
                    <%= question.notes %>
                  </div>
                </div>
              <% end %>
              <div class="row answer-row">
                <div class="col-sm-1 headers">
                  <%= t('app.common.answers') %>:                  
                </div>
                <div class="col-sm-11">
                  <%
                    answers = question.answers.all_for_analysis
                    if answers.present? 
                  %>
                    <ul>
                      <% answers.each do |answer| %>
                        <li>
                        <%= answer.text %>
                        </li> 
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    
    <div role="tabpanel" class="tab-pane fade" id="reports">
      <% if @dataset.reports.present? %>
        <ul class="list-unstyled">
          <% @dataset.reports.sorted.each do |report| %>
            <li>
              <h3><%= report.title %></h3>
              <div class="row">
                <div class="col-sm-4">
                  <%= "#{r_model_class.human_attribute_name(:released_at)}: #{l report.released_at, format: :day_first}" %>
                </div>
                <div class="col-sm-4">
                  <% if report.language.present? %>
                    <%= "#{r_model_class.human_attribute_name(:language_id)}: #{report.language.name}" %>
                  <% end %>
                </div>
                <div class="col-sm-4">
                  <%= link_to report.file.url, class: 'btn btn-success btn-sm', target: :blank do %>
                    <%
                      text = report.file_type
                      if text.present?
                        text << " - "
                      end
                      text << number_to_human_size(report.file_file_size)
                    %>
                    <%= text %>
                  <% end %>
                </div>
              </div>
              <% if report.summary.present? %>
                <div>
                  <div class="tinymce_format">
                    <%= simple_format(report.summary, {}, {sanitize: false}) %>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>
          <%= t('.no_reports') %>
        </p>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="licensing">
      <% if @license.present? %>
        <div class="tinymce_format">
          <%= simple_format_no_tags(@license.content, {}, {sanitize: false}) %>
        </div>
      <% else %>
        comming soon...
      <% end %>
    </div>
  </div>

</div>
