<% 
  model_class = Dataset 
  r_model_class = Report 
  is_admin_page = request.path == dataset_path(@dataset)
%>

<div id="dashboard-meta" class="row">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-3" id="meta-dates">
        <%= model_class.human_attribute_name(:gathered_at) %>:
        <%= format_gathered_dates(@dataset.start_gathered_at, @dataset.end_gathered_at) %>
      </div>
      <div class="col-sm-3" id="meta-dates">
        <%= model_class.human_attribute_name(:released_at) %>:
        <%= I18n.l(@dataset.released_at, format: :day_first) if @dataset.released_at.present?  %>
      </div>
      <% if @is_xtraktr %>
      <div class="col-sm-3" id="meta-source">
        <%= model_class.human_attribute_name(:source) %>:
        <%= @dataset.source %>
      </div>
      <% end %>
      <% if !is_admin_page %>
        <div class="col-sm-3 pull-right" id="share-links">
          (share links)
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="dashboard-description" class="row">
  <div class="col-sm-9">
    <% if @dataset.description.present? %>
      <div class="tinymce_format">
        <%= simple_format_no_tags(@dataset.description, {}, {sanitize: false}) %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3" style="text-align: right;">
    <ul class="list-unstyled">
      <li>
        <%= link_to t('app.menu.explore_data'), url_dataset_explore(@dataset), class: 'btn btn-primary', title: t('app.menu.titles.explore_dataset') %>
      </li>
      <% if @dataset.time_series_datasets.present? %>
        <li>
          <%= link_to t('app.menu.time_series'), url_dataset_to_times_series_dashboard(@dataset.id, @dataset.time_series_datasets.first.time_series_id), class: 'btn btn-primary', title: t('app.menu.titles.dataset_to_time_series') %>
        </li>
      <% end %>
      <% if @dataset.datafile.exists? %>
        <li>
          <div class="btn btn-default btn-sm download" data-id="<%= @dataset.id.to_s %>"><%= t('helpers.links.download_data') %></div>
          <%= link_to @dataset.datafile.url, class: 'btn btn-default btn-sm', target: :blank do %>
            <%
              text = t('helpers.links.download_data')
              text << " "
              if @dataset.file_type.present?
                text << @dataset.file_type
                text << " -"
              end
              text << " "
              text << number_to_human_size(@dataset.datafile_file_size)
            %>
            <%= text %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="dashboard-tabs" role="tabpanel">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation">
      <a href="#highlights" aria-controls="highlights" role="tab" data-toggle="tab"><%= t('.tabs.highlights') %></a>
    </li>
    <% 
      method_active = 'active'
      codebook_active = ''
      if !@dataset.methodology.present? 
        method_active = ''
        codebook_active = 'active'
      end 
    %>
    <li role="presentation" class="<%= method_active %>">
      <a href="#methodology" aria-controls="methodology" role="tab" data-toggle="tab"><%= t('.tabs.methodology') %></a>
    </li>
    <li role="presentation" class="<%= codebook_active %>">
      <a href="#codebook" aria-controls="codebook" role="tab" data-toggle="tab"><%= t('.tabs.codebook') %></a>
    </li>
    <li role="presentation">
      <a href="#reports" aria-controls="reports" role="tab" data-toggle="tab"><%= t('.tabs.reports') %></a>
    </li>
    <li role="presentation">
      <a href="#licensing" aria-controls="licensing" role="tab" data-toggle="tab"><%= t('.tabs.licensing') %></a>
    </li>
  </ul>

  <div class="tab-content">
    <% 
      method_active = 'in active'
      codebook_active = ''
      if !@dataset.methodology.present? 
        method_active = ''
        codebook_active = 'in active'
      end 
    %>

    <div role="tabpanel" class="tab-pane fade" id="highlights">
      coming soon...
    </div>
    
    <div role="tabpanel" class="tab-pane fade <%= method_active %>" id="methodology">
      <% if @dataset.methodology.present? %>
        <div class="tinymce_format">
          <%= simple_format_no_tags(@dataset.methodology, {}, {sanitize: false}) %>
        </div>
      <% else %>
        <p>
          <%= t('.no_methodology') %>
        </p>
      <% end %>
    </div>
    
    <div role="tabpanel" class="tab-pane fade <%= codebook_active %>" id="codebook">
      <div id="codebook-search" class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input type="text" class="text-input col-sm-3" id="filter" class="form-control" value="" placeholder="<%= t('helpers.search') %>" />
      </div>
      <ul class="list-unstyled">
        <% @dataset.questions.for_analysis.each do |question| %>
          <li class="row">
            <div class="col-sm-4 question">
              <h3>
                <%= link_to url_dataset_explore(@dataset, question_code: question.code) do %>
                  <%= question.original_code %>:
                  <br />
                  <%= question.text %>
                <% end %>
              </h3>
            </div>
            <div class="col-sm-8 details">
              <div class="row question-row">
                <div class="col-sm-1 headers">
                  <%= t('app.common.question') %>:                  
                </div>
                <div class="col-sm-11">
                  <%= question.text %>
                </div>
              </div>
              <% if question.notes.present? %>
                <div class="row notes-row">
                  <div class="col-sm-1 headers">
                    <%= t('app.common.notes') %>:                  
                  </div>
                  <div class="col-sm-11">
                    <%= question.notes %>
                  </div>
                </div>
              <% end %>
              <div class="row answer-row">
                <div class="col-sm-1 headers">
                  <%= t('app.common.answers') %>:                  
                </div>
                <div class="col-sm-11">
                  <%
                    answers = question.answers.all_for_analysis
                    if answers.present? 
                  %>
                    <ul>
                      <% answers.each do |answer| %>
                        <li>
                        <%= answer.text %>
                        </li> 
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    
    <div role="tabpanel" class="tab-pane fade" id="reports">
      <% if @dataset.reports.present? %>
        <ul class="list-unstyled">
          <% @dataset.reports.sorted.each do |report| %>
            <li>
              <h3><%= report.title %></h3>
              <div class="row">
                <div class="col-sm-4">
                  <%= "#{r_model_class.human_attribute_name(:released_at)}: #{l report.released_at, format: :day_first}" %>
                </div>
                <div class="col-sm-4">
                  <% if report.language.present? %>
                    <%= "#{r_model_class.human_attribute_name(:language_id)}: #{report.language.name}" %>
                  <% end %>
                </div>
                <div class="col-sm-4">
                  <%= link_to report.file.url, class: 'btn btn-success btn-sm', target: :blank do %>
                    <%
                      text = report.file_type
                      if text.present?
                        text << " - "
                      end
                      text << number_to_human_size(report.file_file_size)
                    %>
                    <%= text %>
                  <% end %>
                </div>
              </div>
              <% if report.summary.present? %>
                <div>
                  <div class="tinymce_format">
                    <%= simple_format(report.summary, {}, {sanitize: false}) %>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>
          <%= t('.no_reports') %>
        </p>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="licensing">
      coming soon...
    </div>
  </div>

</div>
