            <div class="details-weight">
              <div class="k"><%= t('app.common.weight') %>:</div>
              <div class="weight"></div>
            </div>
            <div class="details-group">
              <div class="k"><%= t('app.common.group') %>:</div>
              <div class="name-group"><span class="group-title"></span><span class="group-description"></span></div>
            </div>
            <div class="details-subgroup">
              <div class="k"><%= t('app.common.subgroup') %>:</div>
              <div class="name-subgroup"><span class="group-title"></span><span class="group-description"></span></div>
            </div>
            <div>
              <div class="k"><%= t('app.common.question') %>:</div>
              <div class="name-variable"></div>
            </div>
            <div>
              <div class="k"><%= t('app.common.question_code') %>:</div>
              <div class="name-code"></div>
            </div>
            <div class="details-notes">
              <div class="k"><%= t('app.common.notes') %>:</div>
              <div class="notes"></div>
            </div>
            <div class="details-answers">
              <div class="k"><%= t('app.common.answers') %>:</div>
              <ul class="list-answers"></ul>
            </div>
