<div id="explore-time-series" class="row">
  <% if @questions.present? %>
    <div class="col-sm-3">

      <div class="panel-group" id="panel-instructions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#panel-instructions" href="#instructions">
                <%= t('.instructions.header') %>
              </a>
            </h4>
          </div>
          <div id="instructions" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                <%= t('.instructions.p1a') %>
                <%= t('.instructions.p1b') %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <%= form_tag(explore_time_series_path, :id => 'form-explore-time-series') do %>

        <%
          filter_variable = @filter.present? ? @filter[:code] : ''
        %>

        <div class="row">
          <div class="col-xs-6 col-sm-12">
            <%= label_tag 'filter_variable', t('.form.filter_variable') %>
            <select data-live-search="true" data-hide-disabled='true' data-width="100%" class="selectpicker-filter" id="filter_variable" name="filter_variable">
              <option value=""><%= t('.form.no_filter') %></option>
              <% @questions.each do |question| %>
                <% 
                  selected = filter_variable == question.code ? 'selected=selected ' : ''
                  disabled = @row == question.code ? 'disabled=disabled ' : ''
                %>
                <option value="<%= question.code %>" <%= selected %><%= disabled %>><%= "#{question.original_code} - #{question.text}" %></option>
              <% end %>
            </select>
          </div>
          <%
            show_filter_answers = filter_variable.blank? ? 'style=display:none;' : ''
          %>
          <div class="col-xs-6 col-sm-12">
            <div id="filter_value_container" <%= show_filter_answers %>>
              <%= label_tag 'filter_value', t('.form.filter_value') %>
              <select data-live-search="true" data-hide-disabled='true' data-width="100%" class="selectpicker-filter" id="filter_value" name="filter_value">
                <% @questions.each do |question| %>
                  <% question.answers.each do |answer| %>
                    <% 
                      selected = @filter.present? && @filter[:value] == answer.value.to_s &&
                                  filter_variable == question.code.to_s ? 'selected=selected ' : ''
                      disabled = filter_variable == question.code.to_s ? '' : 'disabled=disabled '
                    %>
                    <option value="<%= answer.value %>" <%= selected %><%= disabled %> data-code="<%= question.code %>" ><%= answer.text %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-12">
            <%= label_tag 'row', t('.form.row') %>
            <select data-live-search="true" data-hide-disabled='true' data-width="100%" class="selectpicker" id="row" name="row">
              <% @questions.each_with_index do |question, index| %>
                <% 
                  selected = (@row.present? && @row == question.code) ? 'selected=selected ' : ''
                %>
                <option value="<%= question.code %>" <%= selected %> ><%= "#{question.original_code} - #{question.text}" %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-12">
            <%= label_tag 'exclude_dkra', :id => 'lbl_exclude_dkra' do %>
              <%= check_box_tag 'exclude_dkra', true, params[:exclude_dkra].present? ? params[:exclude_dkra].to_bool : false %>
              <%= t('.form.exclude_dkra') %>
            <% end %>
          </div>
          <div class="col-xs-3 col-xs-offset-3 col-sm-12 col-sm-offset-0 text-right">
            <%= submit_tag t('.form.reset'), :class => 'btn btn-warning', :id => 'btn-reset' %>
            <%= submit_tag t('.form.submit'), :class => 'btn btn-primary', :id => 'btn-submit' %>
          </div>
        </div>
      <% end %> 
    </div>

    <div id="explore-time-series-content" class="col-sm-9">
      <ul class="nav nav-tabs" id="explore-tabs" role="tablist">
        <li id="nav-chart"><a href="#tab-chart" role="tab" data-toggle="tab"><%= t('.tabs.chart') %></a></li>
        <li id="nav-table"><a href="#tab-table" role="tab" data-toggle="tab"><%= t('.tabs.table') %></a></li>
        <li id="nav-details"><a href="#tab-details" role="tab" data-toggle="tab"><%= t('.tabs.details') %></a></li>
      </ul>      

      <div class="tab-content" id="explore-content">

        <div class="tab-pane" id="tab-chart">
          <div id="chart"></div>
        </div>

        <div class="tab-pane" id="tab-table">
          <h3></h3>
          <table id="datatable" class="table table-striped table-hover table-nonfluid" 
                data-count="<%= t('.table.count') %>" data-percent="<%= t('.table.percent') %>">
          </table>
        </div>

        <div class="tab-pane" id="tab-details">
          <div class="row">
            <div class="col-sm-6" id="details-row">
              <p>
                <strong><%= t('.details.variable') %>:</strong>
                <span id="details-row-question"></span>
              </p>
              <p>
                <strong><%= t('.details.answers') %></strong>
              </p>
              <ul id="details-row-answers">
              </ul> 
            </div>
          </div>
        </div>
      </div>

      <div id="explore-time-series-loader">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>      
      </div>
    </div>

  <% else %>

    <p>
      <%= t('.no_data', title: @time_series.title) %>
    </p>

  <% end %>
</div>