<%-
  subnav_left render(partial: 'shared/language_switcher', locals: {langs: @time_series.language_objects, current_locale: @time_series.current_locale, redirect: true })
-%>
<div class="article explore-data">
  <% if @questions.present? %>
    <div id="explore-form" class="c">
      <h2><%= @time_series.title %></h2>
      <%= form_tag(explore_time_path, :id => 'form-explore-time-series') do %>
        <div class="form-explore-question-code">
          <%
            has_can_exclude = false
          %>
          <%= label_tag 'question_code', t('.form.question_code') %>
          <select data-live-search="true" data-width="100%" class="selectpicker" id="question_code" name="question_code">
            <%= generate_explore_time_series_options(@items, @time_series, selected_code: @question_code, skip_content: true) %>
          </select>
        </div>

        <div class="form-explore-filter-by">
          <%= label_tag 'filtered_by_code', t('.form.filtered_by_code') %>
          <select data-live-search="true" data-width="100%" class="selectpicker-filter" id="filtered_by_code" name="filtered_by_code">
            <option value=""><%= t('.form.no_filter') %></option>
            <%= generate_explore_time_series_options(@items, @time_series, selected_code: @filtered_by_code, disabled_code: @question_code, skip_content: true) %>
          </select>
        </div>

        <% if @time_series.is_weighted? %>
          <% # determine if need to show weight when page loads %>
          <div class="form-explore-weight-by">
            <%= label_tag 'weighted_by_code', t('.form.weighted_by_code') %>
            <select data-live-search="true" data-width="100%" class="selectpicker-weight" id="weighted_by_code" name="weighted_by_code">
              <% @time_series.weights.each do |weight| %>
                <%
                  is_default = weight.is_default? ? 'data-default=true' : ''
                  selected = (params[:weighted_by_code].nil? && weight.is_default?) || params[:weighted_by_code] == weight.code ? 'selected=selected' : ''
                %>
                <option value="<%= weight.code %>" <%= is_default %> <%= selected %>><%= weight.text %></option>
              <% end %>
              <option value="unweighted" data-unweighted="true"><%= t('.form.no_weight') %></option>
            </select>
          </div>
        <% end %>

        <%
          can_exclude_visibility = selected_time_series_question_has_can_exclude?(@questions, [@question_code, @filtered_by_code]) == true ? '' : 'style=\'visibility: hidden;\''
        %>
        <div id="can-exclude-container" class="checkbox-box" tabindex="0" <%= can_exclude_visibility.html_safe %>>
          <%= check_box_tag 'can_exclude', true, params[:can_exclude].present? ? params[:can_exclude].to_bool : false %>
          <%= label_tag 'can_exclude', t('.form.can_exclude'), :title => t('.form.can_exclude_hint') %>
        </div>
        <div class="submit-box" id="buttons">
          <%= submit_tag t('.form.reset'), :class => 'btn btn-reset', :id => 'btn-reset' %>
          <div class="submit-btn-box">
            <%= submit_tag t('.form.submit'), :class => 'btn btn-submit', :id => 'btn-submit' %>
          </div>
        </div>
      <% end %>

      <div id="jumpto">
        <div id='jumpto-chart'>
          <label><%= t('.jumpto.chart') %></label>
          <select data-live-search="true" data-width="100%" class="selectpicker" data-dropup-auto="false"></select>
        </div>
        <div id="jumpto-loader"></div>
      </div>

    </div>

    <div id="explore-data-content" class="c tabs style2">
      <div class="tab-header">
        <div class="tab-caption"><%= t('.tabs.chart') %></div>
        <button type="button" class="navbar-toggle tab-toggle collapsed" data-toggle="collapse" data-target=".tab-collapse">
          <span class="sr-only"><%= t('.toggle') %></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav nav-tabs collapse tab-collapse" id="explore-tabs" role="tablist">
        <li id="nav-chart" class="active"><a href="#tab-chart" role="tab" data-toggle="tab"><%= t('.tabs.chart') %></a></li>
        <li id="nav-table"><a href="#tab-table" role="tab" data-toggle="tab"><%= t('.tabs.table') %></a></li>
        <li id="nav-details"><a href="#tab-details" role="tab" data-toggle="tab"><%= t('.tabs.details') %></a></li>
      </ul>
      <% if !@is_time_series_admin %>
        <div class="share share-box"><div class="prompt"><%= t('app.common.share') %></div><div class="addthis_sharing_toolbox"></div></div>
      <% end %>
      <div class="tab-content" id="explore-content">

        <div class="tab-pane fade in active" id="tab-chart">
          <%
            data_attr = ''
            if @is_time_series_admin
              data_attr = "data-add-highlight=#{add_highlight_time_series_path(id: @time_series.id)} data-delete-highlight=#{remove_highlight_time_series_path(id: @time_series.id)} data-description=#{highlights_edit_description_path}"
            end
          %>
          <div id="container-chart" <%= data_attr %> ></div>
        </div>


        <div class="tab-pane fade" id="tab-table">
          <div id="container-table">
            <h3></h3>
            <table class="table-data table table-striped table-hover table-nonfluid"
              data-count="<%= t('app.common.count') %>" data-percent="<%= t('app.common.percent') %>"
              data-unweighted-count="<%= t('app.common.unweighted_count') %>" data-weighted-count="<%= t('app.common.weighted_count') %>"
              data-weighted-percent="<%= t('app.common.weighted_percent') %>">
            </table>
            <p class="table-weighted-footnote"><span class="footnote-flag">*</span><%= t('app.common.weighted_footnote') %><span class="footnote-weight-name"></span></p>
          </div>
        </div>


        <div class="tab-pane fade" id="tab-details">
          <div class="details-item" id="details-question-code">
            <h3><%= t('.form.question_code') %></h3>
            <%= render partial: 'shared/explore_details_block' %>
          </div>
          <div class="details-item" id="details-filtered-by-code">
            <h3><%= t('.form.filtered_by_code') %></h3>
            <%= render partial: 'shared/explore_details_block' %>
          </div>
          <div class="details-item" id="details-weighted-by-code">
            <h3><%= t('.form.weighted_by_code') %></h3>
            <%= render partial: 'shared/explore_details_block' %>
          </div>

          <div class="details-icons" style="display:none;">
            <span id="detail-icon-group" class="icon-item"><%= group_icon.html_safe %></span>
            <span id="detail-icon-subgroup" class="icon-item"><%= subgroup_icon.html_safe %></span>
          </div>
        </div>
      </div>

      <div id="explore-data-loader"></div>
      <div id="explore-error">
        <p><%= t('app.msgs.explore_error') %></p>
      </div>
      <div id="explore-no-results">
        <p><%= t('app.msgs.explore_no_data') %></p>
      </div>
    </div>
  <% else %>
    <p><%= t('.no_data', title: @time_series.title) %></p>
  <% end %>
</div>

<%= render :partial => 'shared/explore_popups' %>
