<%- 
  show_private_questions = false if show_private_questions.nil?
-%>

<%-
  subnav_left render(partial: 'shared/language_switcher', locals: {langs: @dataset.language_objects, current_locale: @dataset.current_locale})
-%>

<div class="article explore-data">
  <% if @questions.present? %>
    <div id="explore-form" class="c">
      <h2><%= @dataset.title %></h2>
      <%= form_tag(explore_data_path, :id => 'form-explore-data') do %>
        <div class="form-explore-question-code">
            <%= label_tag 'question_code', t('.form.question_code') %>
            <select data-live-search="true" data-hide-disabled='true' data-width="100%" class="selectpicker" id="question_code" name="question_code">
              <%= generate_explore_options(@questions, selected_code: @question_code, disabled_code: @broken_down_by_code) %>
            </select>
        </div>
        <div class="form-explore-broken-by">
            <div id="var2-label-swap" class="clear">
              <%= label_tag 'broken_down_by_code', "#{t('.form.broken_down_by_code')} (#{t('.form.optional')})" %>
              <%
                display = 'style=display:none;'
                display = '' if @broken_down_by_code.present?
              %>
              <button id="btn-swap-vars" type="button" class="btn-swap" title="<%= t('.form.swap') %>" <%= display %>></button>
            </div>
            <select data-live-search="true" data-hide-disabled='true' data-width="100%" class="selectpicker" id="broken_down_by_code" name="broken_down_by_code">
              <%
                selected = @broken_down_by_code.blank? ? 'selected=selected' : '' %>
              %>
              <option value="" <%= selected %>><%= t('.form.no_comparison') %></option>
              <%= generate_explore_options(@questions, selected_code: @broken_down_by_code, disabled_code: @question_code) %>
            </select>
          </div>
          <div class="form-explore-filter-by">
            <%= label_tag 'filtered_by_code', t('.form.filtered_by_code') %>
            <select data-live-search="true" data-hide-disabled='true' data-width="100%" class="selectpicker-filter" id="filtered_by_code" name="filtered_by_code">
              <option value=""><%= t('.form.no_filter') %></option>
              <%= generate_explore_options(@questions, selected_code: @filtered_by_code, disabled_code: @question_code, disabled_code2: @broken_down_by_code) %>
            </select>
          </div>
          <%            
            can_exclude_visibility = selected_question_has_can_exclude?(@questions, [@question_code, @broken_down_by_code, @filtered_by_code]) == true ? '' : 'style=\'visibility: hidden;\''
          %>
          <div id="can-exclude-container" class="checkbox-box" tabindex="0" <%= can_exclude_visibility.html_safe %>>
             <%= check_box_tag 'can_exclude', true, params[:can_exclude].present? ? params[:can_exclude].to_bool : false %>
             <%= label_tag 'can_exclude', t('.form.can_exclude'), :title => t('.form.can_exclude_hint') %>
          </div>
          <div class="submit-box" id="buttons">
            <%= submit_tag t('.form.reset'), :class => 'btn btn-reset', :id => 'btn-reset' %>
            <div class="submit-btn-box">
              <%= submit_tag t('.form.submit'), :class => 'btn btn-submit', :id => 'btn-submit' %>
            </div>
          </div>
      <% end %>

      <div id="jumpto">
        <div id='jumpto-chart'>
          <label><%= t('.jumpto.chart') %></label>
          <select data-live-search="true" data-width="100%" class="selectpicker" data-dropup-auto="false"></select>
        </div>

        <div id='jumpto-map'>
          <label><%= t('.jumpto.map') %></label>
          <div class='jumpto-map-item'>
            <label class="h4"></label>
            <select data-live-search="true" data-width="100%" class="selectpicker" data-dropup-auto="false"></select>
          </div>
        </div>
        <div id="jumpto-loader"></div>
      </div>
    </div>
    <div id="explore-data-content" class="c tabs style2">
      <div class="tab-header">
        <div class="tab-caption"><%= t('.tabs.chart') %></div>
        <button type="button" class="navbar-toggle tab-toggle collapsed" data-toggle="collapse" data-target=".tab-collapse">
          <span class="sr-only"><%= t('.toggle') %></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav nav-tabs collapse tab-collapse" id="explore-tabs">
        <li id="nav-chart" class="active"><a href="#tab-chart" role="tab" data-toggle="tab"><%= t('.tabs.chart') %></a></li>
        <li id="nav-map" style="display:none;"><a href="#tab-map" role="tab" data-toggle="tab"><%= t('.tabs.map') %></a></li>
        <li id="nav-table"><a href="#tab-table" role="tab" data-toggle="tab"><%= t('.tabs.table') %></a></li>
        <li id="nav-details"><a href="#tab-details" role="tab" data-toggle="tab"><%= t('.tabs.details') %></a></li>
      </ul>
      <% if !@is_dataset_admin %>
        <div class="share share-box"><div class="prompt"><%= t('app.common.share') %></div><div class="addthis_sharing_toolbox"></div></div>
      <% end %>
      <div class="tab-content" id="explore-content">
        <%-
          data_attr = ''
          if @is_dataset_admin
            data_attr = "data-add-highlight=#{add_highlight_dataset_path(id: @dataset.id)} data-delete-highlight=#{remove_highlight_dataset_path(id: @dataset.id)} data-description=#{highlights_edit_description_path}"
          end
        -%>
        <div class="tab-pane fade in active" id="tab-chart">
          <div id="container-chart" <%= data_attr %> ></div>
        </div>


        <div class="tab-pane" id="tab-map">
          <div id="container-map" <%= data_attr %> ></div>
        </div>


        <div class="tab-pane fade" id="tab-table">
          <div id="container-table">
            <h3></h3>
            <table class="table-data table table-striped table-hover table-nonfluid"
                  data-count="<%= t('app.common.count') %>" data-percent="<%= t('app.common.percent') %>">
            </table>
          </div>
        </div>


        <div class="tab-pane fade" id="tab-details">
          <div class="details-item" id="details-question-code">
            <h3><%= t('.form.question_code') %></h3>
            <%= render partial: 'shared/explore_details_block' %>
          </div>
          <div class="details-item" id="details-broken-down-by-code">
            <h3><%= t('.form.broken_down_by_code') %></h3>
            <%= render partial: 'shared/explore_details_block' %>
          </div>
          <div class="details-item" id="details-filtered-by-code">
            <h3><%= t('.form.filtered_by_code') %></h3>
            <%= render partial: 'shared/explore_details_block' %>
          </div>

          <div class="details-icons" style="display:none;">
            <span id="detail-icon-exclude-question" class="icon-item"><%= exclude_question_icon.html_safe %></span>
            <span id="detail-icon-exclude-answer" class="icon-item"><%= exclude_answer_icon.html_safe %></span>
            <span id="detail-icon-mappable-question" class="icon-item"><%= mappable_question_icon.html_safe %></span>
            <span id="detail-icon-group" class="icon-item"><%= group_icon.html_safe %></span>
            <span id="detail-icon-subgroup" class="icon-item"><%= subgroup_icon.html_safe %></span>
          </div>
        </div>

      </div>
      <div id="explore-data-loader"></div>
      <div id="explore-error">
        <p><%= t('app.msgs.explore_error') %></p>
      </div>
    </div>
  <% else %>
    <p><%= t('.no_data', title: @dataset.title) %></p>
  <% end %>
</div>

<%= render :partial => 'shared/explore_popups' %>
