<%-
  langs ||= nil
  current_locale ||= I18n.locale.to_s
  share = false if share.nil?

  if langs.present?
-%>
  <div class="available-language-switcher">
    <label><%= t('.label') %></label>
    <select>
      <% langs.each do |lang| %> 
        <%-
          select = lang.locale == current_locale ? 'selected' : ''
        -%>
        <option <%= select %> value="<%= lang.locale %>"><%= lang.name %></option>
      <% end %>
    </select>
  </div>
<% end %>
<% if share %>
  <div class="share share-box share-sub"><div class="prompt"><%= t('app.common.share') %></div><div class="addthis_sharing_toolbox"></div></div>
<% end %>