<%-
  model_class = TimeSeriesQuestion
  label_key = "mongoid.attributes.time_series_group."
  hint_key = "mongoid.hints.time_series_group."
-%>

<%= semantic_form_for([@time_series, @group], html: {class: 'tabbed-translation-form data-loader-container'}) do |f| %>
  <%= f.error_messages %>


  <div role="tabpanel" class="tabbed-translation-fields">
    <%
      locales = [I18n.locale]
      locales = @time_series.languages_sorted if @time_series.languages.present?
    %>

    <ul class="nav nav-tabs" role="tablist">
      <%
        default_locale = I18n.locale.to_s
        default_lang = ''
      %>
      <% locales.each_with_index do |locale, index| %>
        <%
          lang = @languages.select{|x| x.locale == locale.to_s}.first
          cls = ''
          if index == 0
            cls = 'class=active'
            default_locale = locale
            default_lang = lang.present? ? lang.name : locale
          end
        %>
        <li role="presentation" <%= cls %> data-locale="<%= locale %>">
          <a href="#<%= locale %>" aria-controls="home" role="tab" data-toggle="tab">
            <% if index == 0 %>
              <span class='glyphicon glyphicon-star' title='<%= t('helpers.default_language') %>'></span>
            <% end %>
            <%= lang.present? ? lang.name : locale %>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% locales.each_with_index do |locale, index| %>
        <%
          cls = ''
          cls = 'in active' if index == 0
        %>

        <div role="tabpanel" class="tab-pane fade <%= cls %>" id="<%= locale %>" data-locale="<%= locale %>">
          <%= f.fields_for :title_translations, OpenStruct.new(f.object.title_translations) do |translation| %>
            <%
              label = t(label_key + 'title')
              hint = t(hint_key + 'title')
              if index > 0
                label << show_default_text(@group.title_translations[default_locale])
              end
            %>
            <%= translation.input locale, hint: hint, label: label.html_safe %>
          <% end %>
          <%= f.fields_for :description_translations, OpenStruct.new(f.object.description_translations) do |translation| %>
            <%
              label = t(label_key + 'description')
              hint = t(hint_key + 'description')
              cls = index == 0 ? 'main-description' : ''
              if index > 0
                label << show_default_text(@group.description_translations[default_locale])
              end
            %>
            <%= translation.input locale, hint: hint, label: label.html_safe, required: false, input_html: {class: cls} %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <hr />

  <%= f.inputs do %>

    <div class="radio_buttons input optional form-group" id="time_series_group_include_in_charts_input">
      <label class="control-label" for="time_series_group_include_in_charts"><%= t(label_key + 'include_in_charts') %><div class="help-inline" title="<%= t(hint_key + 'include_in_charts') %>"><div>?</div></div>
      </label>
      <div class="radio">
        <label class="choice" for="time_series_group_include_in_charts_true">
          <% checked = @group.include_in_charts? ? 'checked=checked' : '' %>
          <input <%= checked %> id="time_series_group_include_in_charts_true" name="time_series_group[include_in_charts]" type="radio" value="true" />
          <%= t('formtastic.yes') %>
        </label>
      </div>
      <div class="radio">
        <label class="choice" for="time_series_group_include_in_charts_false">
          <% checked = @group.include_in_charts? ? '' : 'checked=checked' %>
          <input <%= checked %> id="time_series_group_include_in_charts_false" name="time_series_group[include_in_charts]" type="radio" value="false" />
          <%= t('formtastic.no') %>
        </label>
      </div>

      <% show_ex = @group.include_in_charts? ? '' : "style=display:none;" %>
      <div id="chart-description-container" <%= show_ex %>>
        <p>
          <%= t('.chart_description_explanation') %>
        </p>
        <div id="chart-description-ex" data-text="<span class='code'>Q1</span> - <span class='description'>[description]</span>&nbsp;&nbsp;<%= t('.ex_question') %>"></div>
      </div>

    </div>

    <div class="select required input form-group" id="time_series_group_parent_id_input">
      <label class="control-label" for="time_series_group_parent_id">
        <%= t(label_key + 'parent_id') %><abbr title="required">*</abbr><div class="help-inline" title="<%= t(hint_key + 'parent_id') %>"><div>?</div></div>
      </label>

      <select class="selectpicker-groups form-control" id="time_series_group_parent_id" name="time_series_group[parent_id]">
        <option value=""><%= t('.option_top_level') %></option>
        <%= options_for_groups(@main_groups, @group.parent_id) %>
      </select>
    </div>


    <div id="group-questions">
      <label class="control-label"><%= t(label_key + 'codes') %><div class="help-inline" title="<%= t(hint_key + 'codes') %>"><div>?</div></div></label>
      <p id="group-question-explanation" data-subgroup="<%= t('.questions_explanation_subgroup', group: '[group]') %>" data-default="<%= t('.questions_explanation_default') %>">
        <%= @group.parent_id.present? ? t('.questions_explanation_subgroup', group: @group.parent.title) : t('.questions_explanation_default') %>
      </p>
      <table id='time-series-group-questions' class="table table-striped table-hover table-nonfluid table-centered">
        <thead>
          <tr>
            <th>
              <%= link_to '#', class: 'btn btn-default btn-xs btn-select-all', :'data-state' => 'all' do %>
                <span class="glyphicon glyphicon-ok" title="<%= t('helpers.links.select_all') %>"></span>
              <% end %>
            </th>
            <th><%= model_class.human_attribute_name(:code) %></th>
            <th><%= model_class.human_attribute_name(:text) %></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td>
            </td>
            <td>
              <label class="control-label">
                <input type="text" placeholder="<%= t('datatable.search_footer', name: t('app.common.question_codes')) %>" class="form-control"/>
                <div class="help-inline" title="<%= t('app.msgs.datatable_regex_search') %>"><div>?</div></div>
              </label>
            </td>
            <td>
              <label class="control-label">
                <input type="text" placeholder="<%= t('datatable.search_footer', name: t('app.common.questions')) %>" class="form-control"/>
                <div class="help-inline" title="<%= t('app.msgs.datatable_regex_search') %>"><div>?</div></div>
              </label>
            </td>
          </tr>
        </tfoot>
        <tbody>
        </tbody>
      </table>
      <div id="hidden-table-inputs" style="display:none;">
        <% if params[:time_series].present? && params[:time_series][:time_series_questions_attributes].present? %>
          <% params[:time_series][:time_series_questions_attributes].each do |index, question| %>
            <% if question[:selected].present? %>
              <input id="assigned-question-<%= question["id"] %>" type="hidden" value="true" />
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="data-loader"></div>
    </div>


  <% end %>


  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
    <%= link_to t('helpers.links.cancel'), time_series_time_series_groups_path, :class => 'btn btn-warning' %>
  </div>

  <div class="data-loader"></div>

<% end %>
