<% title t('.title', owner: @owner.name).html_safe %>
<% model_class = ApiKey %>

<div id="settings-tabs" class="tabs style1" role="tabpanel">
  <%
    settings_active = {tab: 'active', panel: 'in active'}
    api_active = {tab: '', panel: ''}
    if params[:page] == 'api'
       api_active = {tab: 'active', panel: 'in active'}
      settings_active = {tab: '', panel: ''}
    end
  %>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="<%= settings_active[:tab] %>">
      <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><%= t('.tabs.settings') %></a>
    </li>
    <li role="presentation" class="<%= api_active[:tab] %>">
      <a href="#api" aria-controls="api" role="tab" data-toggle="tab"><%= t('.tabs.api') %></a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade <%= settings_active[:panel] %>" id="settings">
      <%= semantic_form_for(@user, url: settings_path(@owner),html: {:"id"=>"signup-form"}) do |f| %>
        <%= f.error_messages %>

        <%= f.inputs do %>
          <%= render :partial => 'devise/registrations/new', :locals => { f: f, resource: @user } %>

        <% end %>

        <div class="form-group">
          <%= f.submit t('app.buttons.save'), :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane fade <%= api_active[:panel] %>" id="api">

      <p><%= t('.api_explanation1') %></p>
      <p><%= t('.api_explanation2').gsub('[link]', link_to(t('.api_link_text'), api_path)).html_safe %></p>

      <p id="btn-add-api-key">
        <%= link_to t('.get_api'), settings_get_api_token_path(@owner), method: :post %>
      </p>

      <hr />

      <% if @user.api_keys.present? %>
        <table class="table table-striped table-hover table-nonfluid">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:key) %></th>
              <th><%= model_class.human_attribute_name(:created_at) %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @user.api_keys.each do |key| %>
              <tr>
                <td><%= key.key %></td>
                <td><%= l(key.created_at.to_date, format: :day_first) %></td>
                <td>
                  <%= link_to '',
                              settings_delete_api_token_path(@owner, key.id),
                              :'data-placement' => 'right',
                              :title => t('.delete_api'),
                              :method => :delete,
                              :data => { :confirm => I18n.t("helpers.links.confirm") },
                              :class => 'btn btn-xs btn-delete' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p><%= t('.no_api_keys') %></p>
      <% end %>
    </div>
  </div>
</div>
