<%- model_class = Dataset -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-group form-group-admin-buttons">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_admin_dataset_path,
              :class => 'btn btn-primary' %>
  <%= link_to t('helpers.links.admin'), admin_path, :class => 'btn btn-default' if current_user.role? User::ROLES[:admin] %>
</div>

<table class="table table-striped display">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:descritpion) %></th>
      <th><%= model_class.human_attribute_name(:has_warnings) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @datasets.each do |dataset| %>
      <tr>
        <td><%= link_to t('app.menu.explore_data'), explore_data_show_path(dataset), :class => 'btn btn-mini btn-default' %></td>
        <td><%= dataset.title %></td>
        <td><%= simple_format_no_tags(dataset.description, {}, {sanitize: false}) %></td>
        <td><%= link_to t('.view_warnings'), warnings_admin_dataset_path(dataset), :class => 'btn btn-mini btn-warning' if dataset.has_warnings? %></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_admin_dataset_path(dataset), :class => 'btn btn-mini btn-default' %>
          <%= link_to t('app.buttons.delete'),
                      admin_dataset_path(dataset),
                      :method => :delete,
                      :data => { :confirm => I18n.t("helpers.links.confirm") },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


