<% title t('.title', :title => @dataset.title) %>

<div class="form-group form-group-admin-buttons">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_datasets_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_dataset_path(@dataset), :class => 'btn btn-default' %>
  <%= link_to t('helpers.links.admin'), admin_path, :class => 'btn btn-default' if current_user.role? User::ROLES[:admin] %>
</div>

<% if @dataset.has_warnings? %>

  <p>
    <%= t('.warning_explanation', :number => @dataset.questions_with_bad_answers.length) %>
  </p>

  <ul>
    <% @dataset.questions_with_bad_answers.each do |bad| %>
      <% question = @dataset.questions.with_original_code(bad) %>
      <% if question.present? %>
        <li>
          <%= "#{question.original_code} - #{question.text}" %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>

  <p>
    <%= t('.no_warnings') %>
  </p>

<% end %>