<%- 
  label_key = "mongoid.attributes.shapeset."
  hint_key = "mongoid.hints.shapeset."
-%>

<%= semantic_form_for([:admin, @shapeset], html: {:multipart => true, class: 'tabbed-translation-form'}) do |f| %>
  <%= f.error_messages %>

  <%= f.inputs do %>
    <%= f.hidden_field :user_id , :value => current_user.id %>

    <div class="file input optional form-group" id="shapeset_shapefile_input">
      <label class="control-label" for="shapeset_shapefile">
        <%= t(label_key + 'shapefile') %><abbr title="required">*</abbr><div class="help-inline" title="<%= t(hint_key + 'shapefile') %>"><div>?</div></div>
      </label>
      <% if @shapeset.shapefile.exists? %>
        <p>
          <%= link_to t('helpers.links.download'), @shapeset.shapefile.url, :target => :blank, :class => 'btn btn-default' %>
        </p>
      <% end %>
      <input accept=".json,.geojson" id="shapeset_shapefile" name="shapeset[shapefile]" type="file">
    </div>

    <%= f.input :languages, as: :select, :collection => @languages.map{|x| [x.name, x.locale]}, multiple: true, required: true,
          hint: t(hint_key + 'languages'), 
          :input_html => {class: 'selectpicker-language languages', 
            :'data-live-search' => "true", :'data-selected-text-format' => "count>3", :'data-size' => "7",
            :'data-width' => "72%"} %>

    <% 
      primaries = nil
      if @shapeset.languages.present?
        primaries = @languages.select{|x| @shapeset.languages.include?(x.locale)}
      end
    %>
   
    <div class="select input optional form-group" id="shapeset_default_language_input">
      <label class="control-label" for="shapeset_default_language">
        <%= t(label_key + 'default_language') %><abbr title="required">*</abbr><div class="help-inline" title="<%= t(hint_key + 'default_language') %>"><div>?</div></div>
      </label>
      <select class="selectpicker-language form-control default-language" data-live-search="true" data-selected-text-format="count>3" data-size="7" data-width="72%" 
              id="shapeset_default_language" name="shapeset[default_language]">
        <% if @languages.present? %>
          <% @languages.each do |lang| %>
            <%
              selected = ''
              hide = 'class=hide'
              if primaries.present? && primaries.include?(lang.locale)
                hide = ''
              end
              if lang.locale == @shapeset.default_language
                selected="selected=selected"
              end
            %>
            <option value="<%= lang.locale %>" <%= hide %> <%= selected %> ><%= lang.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>
  <% end %>

  <div role="tabpanel" class="tabbed-translation-fields">
    <% 
      locales = [I18n.locale] 
      locales = @shapeset.languages_sorted if @shapeset.languages.present?
    %>

    <ul class="nav nav-tabs" role="tablist" 
        data-default-language-icon="<span class='glyphicon glyphicon-star' title='<%= t('helpers.default_language') %>'></span>">
      <%
        default_locale = I18n.locale.to_s 
        default_lang = '' 
      %>
      <% locales.each_with_index do |locale, index| %>
        <%
          lang = @languages.select{|x| x.locale == locale.to_s}.first
          cls = ''
          if index == 0
            cls = 'class=active' 
            default_locale = locale
            default_lang = lang.present? ? lang.name : locale 
          end
        %>
        <li role="presentation" <%= cls %> data-locale="<%= locale %>">
          <a href="#<%= locale %>" aria-controls="home" role="tab" data-toggle="tab">
            <%= lang.present? ? lang.name : locale %>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% locales.each_with_index do |locale, index| %>
        <%
          cls = ''
          cls = 'in active' if index == 0
        %>
        <div role="tabpanel" class="tab-pane fade <%= cls %>" id="<%= locale %>" data-locale="<%= locale %>">
          <%= f.fields_for :title_translations, OpenStruct.new(f.object.title_translations) do |translation| %>
            <% 
              label = t(label_key + 'title')
              hint = t(hint_key + 'title')
              if index > 0
                label << show_default_text(@shapeset.title_translations[default_locale])
              end
            %>
            <%= translation.input locale, hint: hint, label: label.html_safe %>
          <% end %>
          <%= f.fields_for :source_translations, OpenStruct.new(f.object.source_translations) do |translation| %>
            <% 
              label = t(label_key + 'source')
              hint = t(hint_key + 'source')
              if index > 0
                label << show_default_text(@shapeset.source_translations[default_locale])
              end
            %>
            <%= translation.input locale, hint: hint, label: label.html_safe %>
          <% end %>
          <%= f.fields_for :source_url_translations, OpenStruct.new(f.object.source_url_translations) do |translation| %>
            <% 
              label = t(label_key + 'source_url')
              hint = t(hint_key + 'source_url')
              if index > 0
                label << show_default_text(@shapeset.source_url_translations[default_locale], 'url')
              end
            %>
            <%= translation.input locale, as: :url, hint: hint, label: label.html_safe %>
          <% end %>
          <%= f.fields_for :description_translations, OpenStruct.new(f.object.description_translations) do |translation| %>
            <% 
              label = t(label_key + 'description')
              hint = t(hint_key + 'description')
              if index > 0
                label << show_default_text(@shapeset.description_translations[default_locale])
              end
            %>
            <%= translation.input locale, :as => :text, hint: hint, required: false, rows: 10, label: label.html_safe, 
                :input_html => { class: "tinymce" } %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
    <%= link_to t('helpers.links.cancel'), admin_shapesets_path, :class => 'btn  btn-warning' %>
  </div>
<% end %>



<%= tinymce_assets %>
