<% title t('.title') %>

<%= simple_format(t('.instructions')) %>

<hr />

<% if @highlights.present? %>

  <table id="highlights-datatable" class="table table-striped display">
    <thead>
      <tr>
        <th></th>
        <th><%= t('.questions') %></th>
        <th><%= t('.show_home_page') %></th>
        <th><%= t('.description') %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @highlights.each do |highlight| %>
        <tr>
          <td><%= link_to t('helpers.links.view'), embed_v3_path(highlight.embed_id), class: 'btn btn-default', target: :blank %>
          <td>
            <ul class="list-unstyled">
              <% q = @time_series.questions.with_code(highlight.question_code) %>
              <% if q.present? %>
                <li>
                  <strong><%= t('.question_code') %>:</strong><br />
                  <%= "#{q.original_code} - #{q.text}" %>
                </li>
              <% end %>

              <% fb = @time_series.questions.with_code(highlight.filtered_by_code) if highlight.filtered_by_code.present? %>
              <% if fb.present? %>
                <li>
                  <strong><%= t('.filtered_by_code') %>:</strong><br />
                  <%= "#{fb.original_code} - #{fb.text}" %>
                </li>
              <% end %>
            </ul>
          </td>
          <td>
            <%= format_boolean_flag(highlight.show_home_page) %>
          </td>
          <td>
            <%= simple_format(highlight.description, {}, {sanitize: false}) %>
          </td>
          <td>
            <%= link_to '',
                        '#',
                        :title => t('helpers.links.edit_description'),
                        :class => 'btn btn-xs btn-edit edit-highlight-description',
                        :'data-href' => highlights_edit_description_path,
                        :'data-embed-id' => highlight.embed_id %>
            <%= link_to '',
                        remove_highlight_time_series_path(owner_id: @owner, id: @time_series, embed_id: highlight.embed_id),
                        :title => t("helpers.links.destroy"),
                        :method => :post,
                        :data => { :confirm => I18n.t("helpers.links.confirm") },
                        :class => 'btn btn-xs btn-delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>

  <p>
    <%= t('.no_highlights') %>
  </p>

<% end %>

<%= render :partial => 'shared/explore_popups' %>
