<% title t('.title') %>

<%= simple_format(t('.explanation')) %>

<hr />

<% if @items.present? %>

  <%= form_tag sort_time_series_path(@owner, @time_series), id: 'frm-time_series-sort', class: 'form-data-loader data-loader-container' do %>

    <div id="items-header">
      <h2>
        <% if @group.nil? %>
          <%= t('.breadcrumb_start') %>
        <% else %>
          <%= link_to t('.breadcrumb_start'), params.merge(group_id: nil), title: t('.breadcrumb_title') %>
          <span class="separator">></span>
          <% if @group.parent_id.nil? %>
            <%= @group.title %>
          <% else %>
            <%= link_to @group.parent.title, params.merge(group_id: @group.parent.id), title: t('.breadcrumb_title_group') %>
            <span class="separator">></span>
            <%= @group.title %>
          <% end %>
        <% end %>
      </h2>
      <p>
        <% if @group.nil? %>
          <%= t('.main_items') %>
        <% else %>
          <%= t('.group_items', name: @group.title) %>
        <% end %>
      </p>

      <h3><%= t('.form_header') %></h3>
      <%= simple_format(t('.form_instructions')) %>
    </div>

    <div id="move-items" class="clear">
      <label>
        <%= t('.move_explanation') %>
        <select data-live-search="true" data-width="300px" class="selectpicker-sort" id="move-to" title="<%= t('.move_placeholder') %>">
          <% @items.each do |item| %>
            <%
              text = item.class == TimeSeriesGroup ? item.title : item.code_with_text
              cls = item.class == TimeSeriesGroup ? item.parent_id.present? ? 'subgroup' : 'group' : 'question'
            %>
            <option class="<%= cls %>" value="<%= item.id %>"><%= text %></option>
          <% end %>
        </select>
        <div class="move-items-submit"><%= t('app.common.go') %></div>
      </label>
      <div class="move-items-save-btn">
        <%= submit_tag t('app.buttons.save_settings'), class: 'btn btn-success' %>
      </div>
    </div>

    <table id='sort' class="table table-striped table-hover table-nonfluid">
      <thead>
        <tr>
          <th>
            <%= link_to '#', class: 'btn btn-default btn-xs btn-select-all', :'data-state' => 'all' do %>
              <span class="glyphicon glyphicon-ok" title="<%= t('helpers.links.select_all') %>"></span>
            <% end %>
          </th>
          <th><%= t('.headers.type') %></th>
          <th><%= t('.headers.name') %></th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>
          </td>
          <td>
            <label class="control-label">
              <select>
                <option value=""><%= t('.all_types') %></option>
                <option><%= t('mongoid.models.question') %></option>
                <option><%= t('mongoid.models.group') %></option>
              </select>
              <div class="help-inline" title="<%= t('app.msgs.datatable_select_search') %>"><div>?</div></div>
            </label>
          </td>
          <td>
            <label class="control-label">
              <input type="text" placeholder="<%= t('datatable.search_footer', name: t('.headers.name')) %>" class="form-control"/>
              <div class="help-inline" title="<%= t('app.msgs.datatable_regex_search') %>"><div>?</div></div>
            </label>
          </td>
          <td>
          </td>
        </tr>
      </tfoot>
      <tbody>
      </tbody>
    </table>

    <div class="move-items-save-btn">
      <%= submit_tag t('app.buttons.save_settings'), class: 'btn btn-success' %>
    </div>

    <div id="hidden-inputs" style="display:none;">
      <% @items.each_with_index do |item, index| %>
        <div data-id="<%= item.id %>">
          <%
            id_name, type, name, desc, link, cls = nil
            if item.class == TimeSeriesQuestion
              id_name = 'questions'
            elsif item.class == TimeSeriesGroup
              id_name = 'groups'
            end
          %>

          <input id='time_series_<%=id_name%>_attributes_<%=index%>_id' name='time_series[<%=id_name%>_attributes][<%=index%>][id]' type='hidden' value='<%=item.id%>'>
          <input class="input-sort-order" id='time_series_<%=id_name%>_attributes_<%=index%>_sort_order' name='time_series[<%=id_name%>_attributes][<%=index%>][sort_order]' type='hidden' value='<%=item.sort_order%>'>
        </div>
      <% end %>

    </div>

    <div class="data-loader"></div>


  <% end %>

<% else %>

  <p><%= t('.no_items') %></p>

<% end %>
