<%-
  with_pagination = with_pagination.nil? ? true : with_pagination
  with_time_series_link = with_time_series_link.nil? ? true : with_time_series_link
  model_class = Dataset
  s_model_class = Stats
-%>
<%- with_pagination = with_pagination.nil? ? true : with_pagination%>
<%- with_time_series_link = with_time_series_link.nil? ? true : with_time_series_link%>
<%- model_class = Dataset -%>
<ul>
  <% if @datasets.present? %>
    <% @datasets.each do |dataset| %>
      <li>
        <div class="caption">
          <div class="title"><%= link_to dataset.title, explore_data_dashboard_path(dataset) %></div>
          <% if dataset.urls.present? && dataset.urls.codebook.present? %>
            <div class="download-wrapper" >
              <div class="download" data-id="<%= dataset.id.to_s %>" data-lang="<%= dataset.current_locale %>" title="<%= t('helpers.links.download_data') %>" data-placement="top" data-class="tooltip-download" data-download-type="public">
                <ul>
                  <li><div class="type" data-type='csv' title="<%= t('download_data_options.title.csv') %>" data-placement="left"><%= t('download_data_options.text.csv') %></div></li>
                  <li><div class="type" data-type='r' title="<%= t('download_data_options.title.r') %>" data-placement="left"><%= t('download_data_options.text.r') %></div></li>
                  <li><div class="type" data-type='spss' title="<%= t('download_data_options.title.spss') %>" data-placement="left"><%= t('download_data_options.text.spss') %></div></li>
                  <li><div class="type" data-type='stata' title="<%= t('download_data_options.title.stata') %>" data-placement="left"><%= t('download_data_options.text.stata') %></div></li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
        <div class="info">
          <div class="timestamps">
            <div class="timestamp meta">
              <span><%= model_class.human_attribute_name(:gathered_at) %>:</span>
              <%= format_gathered_dates(dataset.start_gathered_at, dataset.end_gathered_at) %>
            </div>
            <div class="timestamp meta">
              <span><%= model_class.human_attribute_name(:released_at) %>:</span>
              <%= I18n.l(dataset.released_at, format: :day_first) if dataset.released_at.present? %>
            </div>
          </div>
          <div class="source meta"><span><%= "#{model_class.human_attribute_name(:source)}: " %></span><%= "#{dataset.source}" %></div>
          <% if with_time_series_link && dataset.time_series_datasets.present? %>
            <div class="time-series" title="<%= t('app.menu.titles.dataset_to_time_series') %>" data-placement="left"  data-class="tooltip-time-series">
              <%= link_to  image_tag("svg/timeseries.svg", alt: t('app.menu.titles.dataset_to_time_series')), explore_time_series_dashboard_path(dataset.time_series_datasets.first.time_series_permalink)%>
            </div>
          <% end %>
        </div>


        <% if dataset.description.present? %>
          <div class="description">
            <%= strip_tags_nbsp(dataset.description).html_safe %>
          </div>
        <% end %>
      </li>
    <% end %>
  <% else %>
    <li><div class="no-data-found"><%= t('.no_match') %></div></li>
  <% end %>
</ul>

<% if with_pagination %>
  <%= paginate @datasets %>
<% end %>
