<%- model_class = TimeSeries -%>
<ul>
  <% if @time_series.present? %>
    <% @time_series.each do |time_series| %>
      <li>
        <div class="caption">
          <div class="title"><%= link_to time_series.title, explore_time_series_dashboard_path(time_series) %></div>
        </div>
        <div class="info">
          <div class="timestamps">
            <div class="timestamp">
              <span><%= model_class.human_attribute_name(:dates) %>:</span>
              <%= time_series.datasets.sorted.map{|x| x.title}.join(', ') %>
            </div>
          </div>
        </div>

        <% if time_series.description.present? %>
          <div class="description">
            <%= strip_tags_nbsp(time_series.description) %>
          </div>
        <% end %>
      </li>
    <% end %>
  <% else %>
    <li><div class="no-data-found"><%= t('.no_match') %></div></li>
  <% end %>
</ul>
<%= paginate @time_series %>
