<%-
  model_class = TimeSeries
  with_pagination = with_pagination.nil? ? true : with_pagination
-%>
<ul>
  <% if @time_series.present? %>
    <%# @time_series.each do |time_series| %>
    <% @time_series.records.each_with_hit do |time_series, hit| %>
      <li>
        <div class="caption">
          <div class="title">
             <% if hit.highlight? && hit.highlight.key?("title_translations.#{@lang}") %>
              <%= link_to hit.highlight["title_translations.#{@lang}"].first.html_safe, explore_time_series_dashboard_path(time_series.owner, time_series) %>
            <% else %>
              <%= link_to time_series.title, explore_time_series_dashboard_path(time_series.owner, time_series) %>
            <% end %>
          </div>
        </div>

        <div class="info">
          <div class="timestamps">
            <div class="timestamp meta">
              <span><%= model_class.human_attribute_name(:dates) %>:</span>
              <%= time_series.datasets.sorted.map{|x| x.title}.join(', ') %>
            </div>
            <div class="upload meta"><span><%= "#{model_class.human_attribute_name(:user_id)}: " %></span><%= link_to time_series.user.name, owner_dashboard_path(time_series.user) %>
            </div>
          </div>
        </div>

        <% if time_series.description.present? %>
          <div class="description">
            <% if hit.highlight? && hit.highlight.key?("description_translations.#{@lang}") %>
                <%= hit.highlight["description_translations.#{@lang}"].join(' &hellip; ').html_safe %>
            <% else %>
              <%= strip_tags_nbsp(time_series.description).html_safe %>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  <% else %>
    <li><div class="no-data-found"><%= t('.no_match') %></div></li>
  <% end %>
</ul>

<% if with_pagination %>
  <%= paginate @time_series %>
<% end %>
