<%- model_class = TimeSeries -%>
<ul>
  <% if @time_series.present?
      each_name = @elastic ? :each_with_hit : :each
      records =  @elastic ? @time_series.records : @time_series
      records.__send__(each_name) do |time_series, hit| 
  %>
      <li>
        <h2>
          <% if hit.present? && hit.highlight? && hit.highlight.key?("titles.#{@lang}") %>
          <%= link_to prepare_highlight(hit.highlight["titles.#{@lang}"]), explore_time_series_dashboard_path(time_series) %>
          <% else %>
          <%= link_to time_series.title, explore_time_series_dashboard_path(time_series) %>
          <% end %>
        </h2>
        <div class="info">
          <div class="calendar"></div>
          <div class="timestamps">
            <div class="timestamp">
              <span><%= model_class.human_attribute_name(:dates) %>:</span>
              <%= time_series.datasets.sorted.map{|x| x.title}.join(', ') %>
            </div>
          </div>
        </div>
        <% if time_series.description.present? %>
          <div class="description">
            <% if hit.present? && hit.highlight? && hit.highlight.key?("descriptions.#{@lang}") %>
                <%= prepare_highlight(hit.highlight["descriptions.#{@lang}"]) %>
            <% else %>
              <%= strip_tags_nbsp(time_series.description).html_safe %>
            <% end %>
          </div>
        <% end %>        
      </li>
    <% end %>  
  <% else %>
    <li><div class="no-data-found"><%= t('.no_match') %></div></li>
  <% end %>
</ul>
<%= paginate @time_series %>
