<%- model_class = Message -%>
<% title @page_content.title %>

<% if @email_sent %>

  <p class="alert alert-success">
  <%= t(".message_sent") %>
  </p>

<% end %>

<div class="tinymce_format">
  <%= simple_format_no_tags(@page_content.content, {}, {sanitize: false}) %>
</div>

<%= semantic_form_for @message, :url => contact_path, :html => {class: 'contact-form'} do |f| %>
  <% if @message.errors.present? %>
    <div class="errorExplanation" id="errorExplanation">
      <h2><%= t('.error_title') %></h2>
    </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :name, :label => false, :placeholder => model_class.human_attribute_name(:name), input_html: {size: 50} %>
    <%= f.input :email, :label => false, :placeholder => model_class.human_attribute_name(:email), :required => true, input_html: {size: 50} %>
    <%= f.input :subject, :label => false, :placeholder => model_class.human_attribute_name(:subject), :required => true, input_html: {size: 75} %>
    <%= f.input :message, :label => false, :placeholder => model_class.human_attribute_name(:message), :required => true, :as => :text, :input_html => {:rows => 5, cols: 83} %>
  <% end %>

  <div>
    <%= f.submit t(".send"), :class => 'btn' %>
  </div>

<% end %>


