<%- model_class = Message -%>
<div class="article contact">
  <div class="col">
  <div class="header"><%= @page_content.title %></div>

  <div class="intro"><%= simple_format_no_tags(@page_content.content, {}, {sanitize: false}) %></div>
  <%= semantic_form_for @message, :url => contact_path, :html => {class: 'contact-form'} do |f| %>
    <%= f.inputs do %>
      <%= f.input :name, :label => false, :placeholder => model_class.human_attribute_name(:name).upcase, input_html: {size: 50} %>
      <%= f.input :email, :label => false, :placeholder => model_class.human_attribute_name(:email).upcase+" *", input_html: {size: 50} %>
      <%= f.input :subject, :label => false, :placeholder => model_class.human_attribute_name(:subject).upcase, input_html: {size: 75} %>
      <%= f.input :message, required: true, :as => :text, :input_html => {:class => 'autogrow', :rows => 7} %>
    <% end %>
    <div>
      <%= f.submit t(".send"), :class => 'submit-message' %>
    </div>
  <% end %>
  </div>
  <div class="col">
    <div class="email">
      <div class="figure"></div>
      <div class="text"><%= mail_to "info@jumpstart.ge", nil, :encode => "hex", :subject => t('mailer.contact.contact_form.subject') %></div> 
    </div>
    <div class="phone">
      <div class="figure"></div>
      <div class="text">+995 32 2 14 29 26</div>
    </div>
  </div>
</div>