<%- model_class = Dataset -%>
<% title t('.title') %>

<div class="article explore">

    <div class="filters" data-path="<%= explore_data_path %>">
      <div class="search" data-filter='search'><div class="box"><input type="search" placeholder="<%= t('.search_datasets') %>" value="<%=params[:q]%>"><div class="go"><%= t('app.common.go') %></div></div></div>
      <div class="sort"  data-filter='sort'>
        <label><%= t('.sort_by.this') %>:</label>         
        <select>
          <option value="title"><%= t('.sort_by.title') %></option>
          <option value="release"><%= t('.sort_by.release') %></option>
          <option value="publish"><%= t('.sort_by.publish') %></option>
        </select>
      </div>

      <div class="category"  data-filter='category'>
      <%-
          current = params[:category].present? ? params[:category] : 'none'
          cat = Category.by_permalink(current)
      -%>
        <div class="selector" data-selected="<%= current %>">
         <div class="bright item">
        <%- if cat.present? -%>
            <div class="text"><span><%= cat.name %></span></div>
            <div class="box"><div class="img <%= cat.permalink %>" alt="<%= cat.name %>"></div></div>
        <%- end -%>
        </div>
          <div class="text"><%= t('app.buttons.choose_category') %></div>
        </div>

        <ul>
          <% Category.sorted.each {|x| %>
            <li class="bright item<%= ' active' if x.permalink == current %>" data-filter-value="<%= x.permalink %>">
              <div class="text"><span><%= x.name %></span></div>
              <div class="box"><div class="img <%= x.permalink %>" alt="<%= x.name %>"></div></div>
            </li>
          <% } %>
        </ul>
      </div>
    </div>

    <div class="list">
      <% if @datasets.present? %>
        <%= render partial: 'explore_data_datasets' %>
      <% else %>
        <p><%= t('.no_data') %></p>
      <% end %>
    </div>
</div>