<%- model_class = TimeSeries -%>
<% title t('.title') %>

<div class="article explore">

  <div class="filters" data-path="<%= explore_time_path %>">
    <div class="search" data-filter='search'><div class="box"><input type="search" placeholder="<%= t('helpers.search') %>"><div class="go"><%= t('app.common.go') %></div></div></div>
    <div class="sort"  data-filter='sort'>
      <label><%= t('.sort_by.this') %>:</label>
      <select>
        <option value="title"><%= t('.sort_by.title') %></option>
        <option value="publish"><%= t('.sort_by.publish') %></option>
      </select>
    </div>

    <div class="category"  data-filter='category'>
      <%-
          current = params[:category].present? ? params[:category] : 'none'
          cat = @categories.select{|x| x.permalink == current}
      -%>
      <div class="selector" data-selected="<%= current %>">
        <div class="text"><%= t('app.buttons.choose_category').html_safe %>:</div>
      </div>
      <select>
        <option value="none" <%='selected' if current == 'none' %>><%= t('app.buttons.all_categories') %></option>
        <% @categories.each {|x| %>
          <option value="<%= x.permalink %>" <%='selected' if current == x.permalink %>><%= x.name %></option>
        <% } %>
      </select>
    </div>
  </div>

  <div class="list">
    <% if @time_series.present? %>
      <%= render partial: 'explore_data_time_series' %>
    <% elsif params[:q].present? || params[:category].present? %>
      <p class="no-data-found"><%= t('.no_match') %></p>
    <% else %>
      <p class="no-data-found"><%= t('.no_data') %></p>
    <% end %>
  </div>
</div>
