<%- 
  model_class = TimeSeries
  title @time_series.title 
%>

<div id="dashboard-meta" class="row">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-4" id="meta-dates">
      </div>
      <div class="col-sm-4" id="meta-source">
      </div>
      <div class="col-sm-4" id="share-links">
        (share links)
      </div>
    </div>
  </div>
</div>
<div id="dashboard-description" class="row">
  <div class="col-sm-9">
    <% if @time_series.description.present? %>
      <div class="tinymce_format">
        <%= simple_format_no_tags(@time_series.description, {}, {sanitize: false}) %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3" style="text-align: right;">
    <ul class="list-unstyled">
      <li>
        <%= link_to t('menu.explore_data'), explore_time_series_show_path(@time_series), class: 'btn btn-primary' %>
      </li>
    </ul>
  </div>
</div>

<div id="dashboard-tabs" role="tabpanel">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation">
      <a href="#highlights" aria-controls="highlights" role="tab" data-toggle="tab"><%= t('.tabs.highlights') %></a>
    </li>
    <li role="presentation" class="active">
      <a href="#codebook" aria-controls="codebook" role="tab" data-toggle="tab"><%= t('.tabs.codebook') %></a>
    </li>
    <li role="presentation">
      <a href="#licensing" aria-controls="licensing" role="tab" data-toggle="tab"><%= t('.tabs.licensing') %></a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade" id="highlights">
      
    </div>
    
    <div role="tabpanel" class="tab-pane fade in active" id="codebook">
      <ul class="list-unstyled">
        <% @time_series.questions.sorted.each do |question| %>
          <li class="row">
            <div class="col-sm-4 question">
              <h3>
                <%= question.original_code %>:
                <br />
                <%= question.text %>
              </h3>
            </div>
            <div class="col-sm-8 details">
              <div class="row question-row">
                <div class="col-sm-1 headers">
                  <%= t('.codebook.header_question') %>:                  
                </div>
                <div class="col-sm-11">
                  <%= question.text %>
                </div>
              </div>
              <div class="row answer-row">
                <div class="col-sm-1 headers">
                  <%= t('.codebook.header_values') %>:                  
                </div>
                <div class="col-sm-11">
                  <ul>
                    <% question.answers.sorted.each do |answer| %>
                      <li>
                      <%= answer.text %>
                      </li> 
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    
    <div role="tabpanel" class="tab-pane fade" id="licensing">
      
    </div>
  </div>

</div>
