<%- model_class = TimeSeries -%>
<% title t('.title') %>

<div class="article explore">
  <div class="filters" data-path="<%= explore_time_path %>">
    <div class="box">
      <div class="search" data-filter='search'><div class="box"><input type="search" placeholder="<%= t('helpers.search') %>"><div class="go"><%= t('app.common.go') %></div></div></div>
      <div class="sort"  data-filter='sort'>
        <label><%= t('.sort_by.this') %>:</label>
        <div class="dropdown">
          <%-
            current_sort = params[:sort].present? ? params[:sort] : 'relevant'
            current_sort_label = t(".sort_by.#{current_sort}")
          -%>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_sort_label %></a>
          <ul class="dropdown-menu" role="menu">
            <%- ["title", "relevant"].each {|opt| -%>
              <li role="menuitem" data-value="<%= opt %>"<%= " class='selected'" if current_sort == opt %>><a href="#"><%= t(".sort_by.#{opt}") %></a></li>
            <%- } -%>
          </ul>
        </div>
      </div>
       <% if @categories.present? %>
        <div class="category"  data-filter='category'>
          <%-
              current = params[:category].present? ? params[:category] : 'none'
              cat = @categories.select{|x| x.permalink == current}
          -%>
          <label><%= t('app.buttons.choose_category').html_safe %>:</label>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= cat.present? ? cat[0].name : t('app.common.all_categories') %>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role="menuitem" data-value="none" <%= "class=selected" if current == 'none' %>><a href="#"><%= t('app.common.all_categories') %></a></li>
              <% @categories.each {|x| %>
                <li role="menuitem" data-value="<%= x.permalink %>" <%="class=selected" if current == x.permalink %>><a href="#"><%= x.name %></a></li>
              <% } %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="row">
        <% if @countries.present? %>
          <div class="country"  data-filter='country'>
            <%-
                current = params[:country].present? ? params[:country] : 'none'
                cat = @countries.select{|x| x.id.to_s == current}
            -%>
            <label><%= t('.filter_by_country').html_safe %>:</label>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= cat.present? ? cat[0].name : t('app.common.all_countries') %>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="menuitem" data-value="none" <%= "class=selected" if current == 'none' %>><a href="#"><%= t('app.common.all_countries') %></a></li>
                <% @countries.each {|x| %>
                  <li role="menuitem" data-value="<%= x.id %>" <%="class=selected" if current == x.id.to_s %>><a href="#"><%= x.name %></a></li>
                <% } %>
              </ul>
            </div>
          </div>
        <% end %>
       <% if false && @owners.present? %>
          <div class="owner"  data-filter='owner'>
            <%-
                current = params[:owner].present? ? params[:owner] : 'none'
                cat = @owners.select{|x| x.id.to_s == current}
            -%>
            <label><%= t('.filter_by_owner').html_safe %>:</label>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= cat.present? ? cat[0].name : t('app.common.all_owners') %>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="menuitem" data-value="none" <%= "class=selected" if current == 'none' %>><a href="#"><%= t('app.common.all_owners') %></a></li>
                <% @owners.each {|x| %>
                  <li role="menuitem" data-value="<%= x.id %>" <%="class=selected" if current == x.id.to_s %>><a href="#"><%= x.name %></a></li>
                <% } %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="list">
    <% if @time_series.present? %>
      <%= render partial: 'explore_data_time_series' %>
    <% elsif params[:q].present? || params[:category].present? %>
      <p class="no-data-found"><%= t('.no_match') %></p>
    <% else %>
      <p class="no-data-found"><%= t('.no_data') %></p>
    <% end %>
  </div>
</div>
