<%- model_class = TimeSeries -%>
<% title t('.title') %>

<div class="article explore">
  <div class="filters" data-path="<%= explore_time_path %>">
    <div class="search" data-filter='search'><div class="box"><input type="search" placeholder="<%= t('.search_time_series') %>"><div class="go"><%= t('app.common.go') %></div></div></div>
    <div class="sort"  data-filter='sort'>
      <label><%= t('.sort_by.this') %>:</label>         
      <select>
        <option value="title"><%= t('.sort_by.title') %></option>
        <option value="publish"><%= t('.sort_by.publish') %></option>
      </select>
    </div>

    <div class="category"  data-filter='category'>
    <%-
        current = params[:category].present? ? params[:category] : 'none'
        cat = Category.by_permalink(current)
    -%>
      <div class="selector" data-selected="<%= current %>">
        <div class="item item1">
          <%- if cat.present? -%>
              <div class="text"><span><%= cat.name %></span></div>
              <div class="box"><div class="img <%= cat.permalink %>" alt="<%= cat.name %>"></div></div>
          <%- end -%>
        </div>      
        <div class="text"><%= t('app.buttons.choose_category') %></div>
      </div>

      <ul class="js-hide">
        <% Category.sorted.each {|x| %>
          <li class="item<%= ' active' if x.permalink == current %>" data-filter-value="<%= x.permalink %>">
            <div class="text"><span><%= x.name %></span></div>
            <div class="box"><div class="img <%= x.permalink %>" alt="<%= x.name %>"></div></div>
          </li>
        <% } %>
      </ul>
      <select>
        <option value="none" <%='selected' if current == 'none' %>><%= t('app.buttons.all_categories') %></option>
        <% Category.sorted.each {|x| %>
          <option value="<%= x.permalink %>" <%='selected' if current == x.permalink %>><%= x.name %></option>
        <% } %>
      </select>
    </div>
  </div>
  <div class="list">
    <% if @time_series.present? %>
      <%= render partial: 'explore_data_time_series' %>
    <% else %>
      <p><%= t('.no_data') %></p>
    <% end %>
  </div>
</div>
