<% title t('.title').html_safe %>

<section class='help-section-filters'>
  
  <h2 class='title mod-hidden'>
    Filter Help Articles
  </h2>
  
  <section class='help-section-filters-search' data-filter='search'>

    <input type='search' placeholder="<%= t('helpers.search') %>" value="<%=params[:q]%>" class='help-section-filters-search-input'>
    
    <div class='help-section-filters-search-go'>
      <%= t('app.common.go') %>
    </div>
    
  </section>
  
</section>

<section>

  <h2 class='title mod-hidden'>
    <%= t '.article_section_heading' %>  
  </h2>

  <ul class='help-section-articles'>
    <% @help_articles.each do |help_article| %>
      <li class='help-section-article'>

        <h3 class='help-section-article-title'>
          <%= link_to help_article.title, 
                      help_article_path(help_article), 
                      class: 'help-section-article-title-link' %>
        </h3>

        <ul class='help-article-details'>
          
          <li class='help-article-detail'>
            <span class='help-article-detail-label'>
              <%= t '.article_detail.published_on' %>:
            </span> 
            <span class='help-article-detail-value'>
              <%= help_article.public_at %>
            </span>
          </li>

          <li class='help-article-detail'>
            <span class='help-article-detail-label'>
              <%= t '.article_detail.type' %>:
            </span> 
            <span class='help-article-detail-value'>
              <%= help_article.article_type %>
            </span>
          </li>

          <li class='help-article-detail'>
            <span class='help-article-detail-label'>
              <%= t '.article_detail.categories' %>:
            </span> 
            <span class='help-article-detail-value'>
              <%= help_article.help_categories.map(&:name).join(', ') %>
            </span>
          </li>

        </ul>

        <div class='help-section-article-description'>
          <%= display_truncated_content(help_article.content) %>
        </div>

      </li>
    <% end %>
  </ul>

</section>

