<% title t('.title').html_safe %>

<ul class='help-section-articles'>
  <% @help_articles.each do |help_article| %>
    <li class='help-section-article'>
      
      <h3 class='help-section-article-title'>
        <%= link_to help_article.title, 
                    help_article_path(help_article), 
                    class: 'help-section-article-title-link' %>
      </h3>
      
      <ul class='help-section-article-details'>
        
        <li class='help-section-article-detail'>
          <span class='help-section-article-detail-label'>
            <%= t '.article_detail.published_on' %>:
          </span> 
          <span class='help-section-article-detail-value'>
            <%= help_article.public_at %>
          </span>
        </li>
        
        <li class='help-section-article-detail'>
          <span class='help-section-article-detail-label'>
            <%= t '.article_detail.type' %>:
          </span> 
          <span class='help-section-article-detail-value'>
            <%= help_article.article_type %>
          </span>
        </li>
        
        <li class='help-section-article-detail'>
          <span class='help-section-article-detail-label'>
            <%= t '.article_detail.categories' %>:
          </span> 
          <span class='help-section-article-detail-value'>
            <%= help_article.help_categories.map(&:name).join(', ') %>
          </span>
        </li>
        
      </ul>
      
      <div class='help-section-article-description'>
        <%= truncate(
              strip_tags(help_article.content), 
              length: 50
            ).html_safe %>
      </div>
      
    </li>
  <% end %>
</ul>
