<%- model_class = Dataset -%>

<div id="intro">
  <div id="intro-slogan"><%= t('app.common.app_name') %>: <%= t('app.common.app_slogan') %></div>
  <div id="intro-desc"><%= t('app.common.app_description') %></div>
</div>

<div class="boxic">
  <div class="title">
    <h2><%= t('.header_latest_datasets') %></h2>
    <div class="cell"><div class="line"></div></div>
  </div>
  <% if @datasets.present? %>
    <ul class="list-unstyled">
      <% @datasets.each do |dataset| %>
        <li>
          <h2><%= link_to dataset.title, explore_data_dashboard_path(dataset) %></h2>
          <% if @is_xtraktr %>
          <div>
            <%= "#{model_class.human_attribute_name(:source)}: #{dataset.source}" %>
          </div>
          <% end %>
          <% if dataset.description.present? %>
            <div class="tinymce_format">
              <%= simple_format_no_tags(dataset.description, {}, {sanitize: false}) %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      <%= t('.no_datasets') %>
    </p>
  <% end %>
</div>

<% if @is_xtraktr %>
<div class="boxic">
  <div class="title">
    <h2><%= t('.header_latest_time_series') %></h2>
    <div class="cell"><div class="line"></div></div>
  </div>
  <% if @time_series.present? %>
    <ul class="list-unstyled">
      <% @time_series.each do |time_series| %>
        <li>
          <h2><%= link_to time_series.title, explore_time_series_dashboard_path(time_series) %></h2>
          <% if time_series.description.present? %>
            <div class="tinymce_format">
              <%= simple_format_no_tags(time_series.description, {}, {sanitize: false}) %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      <%= t('.no_time_series') %>
    </p>
  <% end %>
</div>
<% end %>


<% if @highlights.present? %>
  <div id="highlights">
    <h2><%= t('.header_highlights') %></h2>
    <% @highlights.each do |highlight| %>
      <div class="highlight <%= highlight.visual_type_name %>">
        <h3><%= link_to highlight.title, highlight.dataset_id.present? ? explore_data_dashboard_path(highlight.dataset_id) : explore_time_series_dashboard_path(highlight.time_series_id) %></h3>
        <iframe src="<%= embed_v1_path(id: highlight.embed_id) %>"></iframe>
      </div>
    <% end %>
  </div>
<% end %>
