<div class="article root">
  <div class="jsrow">
    <div class="intro">
      <div class="slogan"><span><%= t("app.common.#{@app_key_name}.app_name") %>:</span> <%= t("app.common.#{@app_key_name}.app_slogan") %></div>
      <div class="desc"><%= t("app.common.#{@app_key_name}.app_description") %></div>
    </div>
    <div class="categories">
      <div class="boxic">
        <form role="search" class="search" action="<%= explore_data_path %>">
          <div class="box">
            <input type="search" placeholder="<%= t('helpers.search') %>" name="q">
            <div class="go-submit"><%= t('app.common.go') %></div>
          </div>
        </form>
        <% if @categories.present? %>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('app.buttons.categories') %>              
            </a>
            <ul class="dropdown-menu" role="menu">
              <% @categories.each do |category| %>
                <li role="menuitem">
                  <%= link_to category.name, explore_data_path(category: category.permalink) %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="jsrow">
    <div class="recents">
      <div class="boxic">
        <div class="header">
          <h2><%= t('.header_latest_datasets') %></h2>
          <div class="cell"><div class="line"></div></div>
        </div>
        <% if @datasets.present? %>
          <div class="t">
            <% for i in 0..2 %>
              <div class="r">
                <% if i < @datasets.length %>
                  <% dataset = @datasets[i] %>
                  <div class="c">
                      <%= link_to dataset.title, explore_data_dashboard_path(dataset) %>
                      <%= "<div class='desc'>#{truncate(strip_tags_nbsp(dataset.description), length: 90, separator: ' ')}</div>".html_safe if dataset.description.present? %>
                  </div>
                <% end %>
                <% if i+3 < @datasets.length %>
                  <% dataset = @datasets[i+3] %>
                  <div class="c c2">
                      <%= link_to dataset.title, explore_data_dashboard_path(dataset) %>
                      <%= "<div class='desc'>#{truncate(strip_tags_nbsp(dataset.description), length: 90, separator: ' ')}</div>".html_safe if dataset.description.present? %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="no-items">
            <%= t('.no_datasets') %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="recents time-series">
      <div class="boxic">
        <div class="header">
          <h2><%= t('.header_latest_time_series') %></h2>
          <div class="cell"><div class="line"></div></div>
        </div>
        <% if @time_series.present? %>
          <div class="t">
            <% for i in 0..2 %>
              <div class="r">
                <% if i < @time_series.length %>
                  <% time_series = @time_series[i] %>
                  <div class="c">
                      <%= link_to time_series.title, explore_time_series_dashboard_path(time_series) %>
                      <%= "<div class='desc'>#{truncate(strip_tags_nbsp(time_series.description), length: 90, separator: ' ')}</div>".html_safe if time_series.description.present? %>
                  </div>
                <% end %>
                <% if i+3 < @time_series.length %>
                  <% time_series = @time_series[i+3] %>
                  <div class="c c2">
                      <%= link_to time_series.title, explore_time_series_dashboard_path(time_series) %>
                      <%= "<div class='desc'>#{truncate(strip_tags_nbsp(time_series.description), length: 90, separator: ' ')}</div>".html_safe if time_series.description.present? %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="no-items">
            <%= t('.no_time_series') %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="jsrow">
    <div class="highlights-header">
      <h2><%= t('.header_highlights') %></h2>
      <div class="cell"><div class="line"></div></div>
    </div>
    <% if @highlights.present? %>
      <div id="highlights" class="highlights">

      </div>
    <% end %>
  </div>
</div>
