<%- 
  label_key = "mongoid.attributes.api_method."
  hint_key = "mongoid.hints.api_method."
-%>

<%= semantic_form_for([:admin, @api_version, @api_method], html: {class: 'tabbed-translation-form'}) do |f| %>
  <%= f.error_messages %>

  <%= f.inputs do %>
    <%= f.input :api_version_id, as: :hidden, label: false, input_html: {value: params[:api_version_id]} %>
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :permalink, hint: t(hint_key + 'permalink'), input_html: {size: 25} %>
      </div>
      <div class="col-sm-4">
        <%= f.input :sort_order, as: :number, hint: t(hint_key + 'sort_order'), min: 1, step: 5 %>
      </div>
      <div class="col-sm-4">
        <div class="radio_buttons input optional form-group" id="api_method_public_input">
          <label class="  control-label" for="api_method_public"><%= t(label_key + 'public') %><div class="help-inline" title="<%= t(hint_key + 'public') %>"><div>?</div></div>
          </label>
          <div class="radio">
            <label class="choice" for="api_method_public_true">
              <% checked = @api_method.public? ? 'checked=checked' : '' %>
              <input <%= checked %> id="api_method_public_true" name="api_method[public]" type="radio" value="true" />
              <%= t('formtastic.yes') %>
            </label>
          </div>
          <div class="radio">
            <label class="choice" for="api_method_public_false">
              <% checked = @api_method.public? ? '' : 'checked=checked' %>
              <input <%= checked %> id="api_method_public_false" name="api_method[public]" type="radio" value="false" />
              <%= t('formtastic.no') %>
            </label>
          </div>
        </div>
      </div>
    </div>
  <% end %>


  <div role="tabpanel" class="tabbed-translation-fields">
    <% 
      locales = I18n.available_locales
    %>

    <ul class="nav nav-tabs" role="tablist" 
        data-default-language-icon="<span class='glyphicon glyphicon-star' title='<%= t('helpers.default_language') %>'></span>">
      <%
        default_locale = I18n.default_locale.to_s
        default_lang = '' 
      %>
      <% locales.each_with_index do |locale, index| %>
        <%
          lang = @languages.select{|x| x.locale == locale.to_s}.first
          cls = ''
          if index == 0
            cls = 'class=active' 
            default_locale = locale
            default_lang = lang.present? ? lang.name : locale 
          end
        %>
        <li role="presentation" <%= cls %> data-locale="<%= locale %>">
          <a href="#<%= locale %>" aria-controls="home" role="tab" data-toggle="tab">
            <%= lang.present? ? lang.name : locale %>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% locales.each_with_index do |locale, index| %>
        <%
          cls = ''
          cls = 'in active' if index == 0
        %>
        <div role="tabpanel" class="tab-pane fade <%= cls %>" id="<%= locale %>" data-locale="<%= locale %>">
          <%= f.fields_for :title_translations, OpenStruct.new(f.object.title_translations) do |translation| %>
            <% 
              label = t(label_key + 'title')
              hint = t(hint_key + 'title')
              if index > 0
                label << show_default_text(@api_method.title_translations[default_locale])
              end
            %>
            <%= translation.input locale, hint: hint, label: label.html_safe %>
          <% end %>

          <%= f.fields_for :content_translations, OpenStruct.new(f.object.content_translations) do |translation| %>
            <% 
              label = t(label_key + 'content')
              hint = t(hint_key + 'content')
              if index > 0
                label << show_default_text(@api_method.content_translations[default_locale])
              end
            %>
            <%= translation.input locale, :as => :text, hint: hint, required: false, rows: 10, label: label.html_safe, 
                :input_html => { class: "tinymce" } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('helpers.links.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
    <%= link_to t('helpers.links.cancel'), admin_api_versions_path, :class => 'btn btn-warning' %>
  </div>
<% end %>


<%= tinymce_assets %>
