<%- model_class = ApiMethod -%>
<% title t '.title', :default => model_class.model_name.human %>


<div class="form-group form-group-admin-buttons">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_api_versions_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_api_version_api_method_path(@api_version, @api_method), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_api_version_api_method_path(@api_version, @api_method),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
              :class => 'btn btn-danger' %>
  <%= link_to t('helpers.links.admin'), admin_path, :class => 'btn btn-default' %>
</div>

<p><strong><%= model_class.human_attribute_name(:title) %>:</strong>
<%= @api_method.title %></p>

<p><strong><%= model_class.human_attribute_name(:permalink) %>:</strong>
<%= @api_method.permalink %></p>

<p><strong><%= model_class.human_attribute_name(:sort_order) %>:</strong>
<%= @api_method.sort_order %></p>

<p><strong><%= model_class.human_attribute_name(:public) %>:</strong>
<%= @api_method.public %></p>

<p><strong><%= model_class.human_attribute_name(:public_at) %>:</strong>
<%= l @api_method.public_at, format: :day_first if @api_method.public_at %></p>

<p><strong><%= model_class.human_attribute_name(:content) %>:</strong></p>
<div class="tinymce_format">
  <%= simple_format_no_tags(@api_method.content, {}, {sanitize: false}) %>
</div>


