<p><%= t('.title', :nickname => @resource.name) %></p>

<p><%= t('.p1', :app_name => link_to(t("app.common.unicef.app_name"), root_url(locale: I18n.locale))).html_safe %></p>

<p><%= link_to t('.link_title'), edit_password_url(@resource, :reset_password_token => @token, :locale => I18n.locale) %></p>

<p><%= t('.p2') %></p>
<p><%= t('.p3') %></p>


<p>
	<%= t('mailer.closing') %>
	<br />
	<%= t('mailer.signature') %>
</p>

