<%- 
  main_css ||= 'application'

  title = content_for?(:title) ? "#{yield(:title)} | #{t("app.common.#{@app_key_name}.app_name")}" :
            "#{t("app.common.#{@app_key_name}.app_name")} | #{t("app.common.#{@app_key_name}.app_slogan")}".html_safe

  desc = I18n.t("app.common.#{@app_key_name}.app_description")
  if @dataset.present? && @dataset.description.present?
    desc = strip_tags_nbsp(@dataset.description)
  elsif @time_series.present? && @time_series.class == 'TimeSeries' && @time_series.description.present?
    desc = strip_tags_nbsp(@time_series.description)
  end
-%>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? "#{yield(:title)} | #{t("app.common.#{@app_key_name}.app_name")}" :
                "#{t("app.common.#{@app_key_name}.app_name")} | #{t("app.common.#{@app_key_name}.app_slogan")}" %></title>
    <%= csrf_meta_tags %>
    <%= include_gon %>

    <meta property="og:title" content="<%= title %>">
    <meta name="description" content="<%= desc %>">
    <meta property="og:description" content="<%= desc %>" />
    <meta property="og:type" content="non_profit" />
    <meta property="og:url" content="<%= current_url %>" />
    <!-- meta property="og:image" content="<%= full_url('/assets/fb-img.jpg') %>" / -->
    <meta property="og:site_name" content="<%= t("app.common.#{@app_key_name}.app_name") %>" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag  *(@css.present? ? [main_css,@css].flatten : [main_css]), :media => "all" %>      

    <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->

    <% if @shapes_url.present? %>
      <% @shapes_url = [@shapes_url] if @shapes_url.class != Array %>
      <% @shapes_url.each do |url| %>
        <script src="<%= url %>"></script>
      <% end %>
    <% end %>


    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
