<%
  include_parent_div ||= false
%>

            <% if include_parent_div %>
              <div class="dropdown">
            <% end %>
                <a href="#" class="options-menu dropdown-toggle" data-toggle="dropdown">
                  <!-- <img src="/assets/svg/options.svg"/> -->
                  <%= t('app.menu.admin_time_series.heading') %>
                  <img src="/assets/svg/arrow.svg"/>
                </a>
                <ul class="dropdown-menu admin-menu" role="menu">
                  <li role="menuitem">
                    <%= link_to time_series_path(time_series) do %>
                      <span class="glyphicon glyphicon-search"></span>
                      <%= t('app.menu.admin_time_series.explore_data') %>
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li role="menuitem">
                    <%= link_to edit_time_series_path(time_series) do %>
                      <span class="glyphicon glyphicon-cog"></span>
                      <%= t('app.menu.admin_time_series.settings') %>
                    <% end %>
                  </li>
                  <li role="menuitem">
                    <%= link_to highlights_time_series_path(time_series) do %>
                      <span class="glyphicon glyphicon-star"></span>
                      <%= t('app.menu.admin_time_series.highlights') %>
                    <% end %>
                  </li>
<%
=begin %>
                  <li role="menuitem">
                    <%= link_to warnings_time_series_path(time_series) do %>
                      <span class="glyphicon glyphicon-exclamation-sign"></span>
                      <%= t('app.menu.admin_time_series.warnings') %>
                    <% end %>
                  </li>
                  <% if !time_series.public? %>
                    <li role="menuitem">
                      <%= link_to '#private-share', :'data-toggle' => "modal"  do %>
                        <span class="glyphicon glyphicon-lock"></span>
                        <%= t('app.menu.admin_time_series.private_share') %>
                      <% end %>
                    </li>
                  <% end %>
<%
=end %>
                  <li class="divider"></li>
                  <li role="menuitem">
                    <%= link_to time_series_questions_path(time_series) do %>
                      <span class="glyphicon glyphicon-question-admin"></span>
                      <%= t('app.menu.admin_time_series.qa') %>
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li role="menuitem">
                    <%= link_to time_series_time_series_groups_path(time_series) do %>
                      <span class="glyphicon glyphicon-th-large"></span>
                      <%= t('app.menu.admin_time_series.groups') %>
                    <% end %>
                  </li>
                  <li role="menuitem">
                    <%= link_to sort_time_series_path(time_series) do %>
                      <span class="glyphicon glyphicon-sort"></span>
                      <%= t('app.menu.admin_time_series.sort') %>
                    <% end %>
                  </li>
                  <li role="menuitem">
                    <%= link_to time_series_time_series_weights_path(time_series) do %>
                      <span class="glyphicon glyphicon-asterisk"></span>
                      <%= t('app.menu.admin_time_series.weights') %>
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li role="menuitem">
                    <%= link_to time_series_path(time_series),
                        :method => 'delete',
                        :data => { :confirm => t("helpers.links.confirm") } do %>

                      <span class="glyphicon glyphicon-remove-circle"></span>
                      <%= t('app.menu.admin_time_series.delete') %>
                    <% end %>
                  </li>
                </ul>
            <% if include_parent_div %>
              </div>
            <% end %>
