<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render :partial => 'layouts/head' %>

    <% if @shapes_url.present? %>
      <script src="<%= @shapes_url %>"></script>
    <% end %>

  </head>
  <body>

    <%= render :partial => 'layouts/navtmp' %>

    <div id="page-wrapper">
      <div class="row">
        <div class="col-sm-12">
					<% flash.each do |key, msg| %>
						<div class="alert <%= flash_translation(key) %> fade in">
							<a href="#" data-dismiss="alert" class="close">×</a>
							<%= msg %>
						</div>
					<% end %>

          <% if @show_subnav_navbar == true %>
            <div id="subnav-navbar" class="row" role="navigation" >
              <div class="col-sm-9">
                <% if @is_dataset_admin && @dataset.present? && @dataset.created_at.present? %>
                  <%= link_to @dataset.title, url_dataset_dashboard(@dataset) %>
                <% elsif @dataset.present? && (request.path == explore_data_dashboard_path(@dataset) || request.path == dataset_path(@dataset)) %>
                  <%= t('app.common.dataset_dashboard') %>
                <% elsif @dataset.present? && @dataset.created_at.present? %>
                  <%= link_to t('helpers.links.back_dashboard'), url_dataset_dashboard(@dataset) %>

                <% elsif @is_time_series_admin && @time_series.present? && @time_series.created_at.present? %>
                  <%= link_to @time_series.title, url_time_series_dashboard(@time_series) %>
                <% elsif @time_series.present? && (request.path == explore_time_series_dashboard_path(@time_series) || request.path == time_series_path(@time_series)) %>
                  <%= t('app.common.time_series_dashboard') %>
                <% elsif @is_time_series_admin && @time_series.present? && @time_series.created_at.present? %>
                  <%= link_to t('helpers.links.back_dashboard'), url_time_series_dashboard(@time_series) %>
                <% end %>
              </div>
              <div class="col-sm-3 pull-right">
                <% if @is_dataset_admin %>
                  <ul class="nav navbar-nav navbar-right">
                    <% if @dataset.present? && @dataset.created_at.present? %>
                      <li class="dropdown" role="menuitem">
                        <%= render partial: 'layouts/dataset_menu', locals: {dataset: @dataset} %>
                      </li>
                    <% end %>
                    <li role="menuitem">
                      <%= link_to t('app.menu.all_datasets'), datasets_path %>
                    </li>
                  </ul>
                <% end %>

                <% if @is_time_series_admin %>
                  <ul class="nav navbar-nav navbar-right">
                    <% if @time_series.present? && @time_series.created_at.present? %>
                      <li class="dropdown" role="menuitem">
                        <%= render partial: 'layouts/time_series_menu', locals: {time_series: @time_series} %>
                      </li>
                    <% end %>
                    <li role="menuitem">
                      <%= link_to t('app.menu.all_time_series'), time_series_index_path %>
                    </li>
                  </ul>
                <% end %>
              </div>
            </div>
          <% end %>

          <% if @show_title == true && content_for?(:title) %>
            <div class="page-header">
              <h1><%= yield(:title) %></h1>
            </div>
          <% end %>

          <%= yield %>
        </div><!--/span-->
      </div><!--/row-->
    <%= render :partial => 'layouts/footer' %>
    </div> <!-- /container -->


    <%= render :partial => 'layouts/js' %>

  </body>
</html>
