<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render :partial => 'layouts/head' %>
  </head>
  <body>
    <%= render :partial => 'layouts/nav' %>
    <div id="page-wrapper" class='wrappers<%=@klass%>'>
      <div class="content">

          <% flash.each do |key, msg| %>
            <div class='message notification <%= notification_translation(key) %>'>
              <div class='figure'></div>
              <div class='text'><%= msg %></div>
              <div class='closeup'></div>      
            </div>
          <% end %>

          <% if !current_page?(root_path) %>
            <div id="subnav-navbar" role="navigation" >
              <div class="col col-left pull-left">
                <%= yield(:subnav_left) %>
                  <% if !content_for?(:subnav_left) && @is_dataset_admin && @dataset.present? && @dataset.created_at.present? %>
                    <div class="back"><%= link_to @dataset.title, url_dataset_dashboard(@dataset) %></div>
                  <% elsif @dataset.present? && @dataset.created_at.present? && !((request.path == explore_data_dashboard_path(@dataset) || request.path == dataset_path(@dataset))) %>
                    <div class="back"><%= link_to t('helpers.links.back_dashboard'), url_dataset_dashboard(@dataset) %></div>
                  <% elsif !content_for?(:subnav_left) && @is_time_series_admin && @time_series.present? && @time_series.created_at.present? %>
                    <div class="back"><%= link_to @time_series.title, url_time_series_dashboard(@time_series) %></div>
                  <% elsif @time_series.class == TimeSeries && @time_series.present? && @time_series.created_at.present? && !(request.path == explore_time_series_dashboard_path(@time_series) || request.path == time_series_path(@time_series))%>
                    <div class="back"><%= link_to t('helpers.links.back_dashboard'), url_time_series_dashboard(@time_series) %></div>
                  <% end %>
              </div>
              <div class="col col-right pull-right">
                <% if @is_dataset_admin %>
                  <ul class="nav navbar-nav navbar-right">
                    <% if @dataset.present? && @dataset.created_at.present? %>
                      <li class="dropdown" role="menuitem">
                        <%= render partial: 'layouts/dataset_menu', locals: {dataset: @dataset} %>
                      </li>
                    <% end %>
                    <li role="menuitem">
                      <%= link_to t('app.menu.all_datasets'), datasets_path %>
                    </li>
                  </ul>
                <% end %>

                <% if @is_time_series_admin %>
                  <ul class="nav navbar-nav navbar-right">
                    <% if @time_series.present? && @time_series.created_at.present? %>
                      <li class="dropdown" role="menuitem">
                        <%= render partial: 'layouts/time_series_menu', locals: {time_series: @time_series} %>
                      </li>
                    <% end %>
                    <li role="menuitem">
                      <%= link_to t('app.menu.all_time_series'), time_series_index_path %>
                    </li>
                  </ul>
                <% end %>
              </div>
            </div>
          <% end %>

          <div class="content-wrapper">
            <% if @show_title == true && content_for?(:title) %>
              <div class="page-header">
                <h1><%= yield(:title) %></h1>
              </div>
            <% end %>

            <%= yield %>
          </div>

          <%= render :partial => 'layouts/footer' %>
      </div>
    </div> <!-- /container -->


    <%= render :partial => 'layouts/js' %>
    <div id="js_modal">
      <div class="popup"></div>
      <div class="bg"></div>
    </div>
  </body>
</html>
