<%- model_class = Dataset -%>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render :partial => 'layouts/head' %>

    <% if @shapes_url.present? %>
      <script src="<%= @shapes_url %>"></script>
    <% end %>

  </head>
  <body>

    <%= render :partial => 'layouts/nav' %>

    <nav id="dataset-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
        <%= link_to @dataset.title, @dataset_url,:class=>"navbar-brand" if @dataset.created_at.present? %>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li role="menuitem">
              <%= link_to t('app.menu.about_dataset'), '#dataset-about', :'data-toggle' => "modal"  if @dataset.created_at.present? %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if @is_admin && @dataset.created_at.present? %>
              <li class="dropdown" role="menuitem">
                <%= render partial: 'layouts/dataset_menu', locals: {dataset: @dataset} %>
              </li>
            <% end %>
            <% if @is_admin %>
              <li role="menuitem">
                <%= link_to t('app.menu.all_datasets'), datasets_path %>
              </li>
            <% end %>
          </ul>

        </div><!--/.nav-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="flash-message">
            <% flash.each do |key, msg| %>
              <div class="alert <%= flash_translation(key) %> fade in">
                <a href="#" data-dismiss="alert" class="close">×</a>
                <%= msg %>
              </div>
            <% end %>
          </div>
          
          <% if @show_title == true && content_for?(:title) %>
            <div class="page-header">
              <h1><%= yield(:title) %></h1>
            </div>
          <% end %>

          <%= yield %>
        </div><!--/span-->
      </div><!--/row-->
    </div> <!-- /container -->

    <%= render :partial => 'layouts/footer' %>


    <div class="modal fade" id="dataset-about" tabindex="-1" role="dialog" aria-labelledby="dataset-about-header" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= t('helpers.links.close') %></span></button>
            <h4 class="modal-title" id="dataset-about-header"><%= @dataset.title %></h4>
          </div>
          <div class="modal-body">
            <p><strong><%= model_class.human_attribute_name(:source) %>:</strong>
            <%= @dataset.source %></p>

            <p><strong><%= model_class.human_attribute_name(:source_url) %>:</strong>
            <%= auto_link(@dataset.source_url, :html => { :target => '_blank' }) %></p>

            <p><strong><%= model_class.human_attribute_name(:gathered_at) %>:</strong>
            <% if @dataset.start_gathered_at.present? && @dataset.end_gathered_at.present? %>
              <%= "#{l @dataset.start_gathered_at} - #{l @dataset.end_gathered_at}" %>
            <% elsif @dataset.start_gathered_at.present? %>
              <%= l @dataset.start_gathered_at %>
            <% elsif @dataset.end_gathered_at.present? %>
              <%= l @dataset.end_gathered_at %>
            <% end %>
            </p>

            <p><strong><%= model_class.human_attribute_name(:released_at) %>:</strong>
            <%= l @dataset.released_at if@dataset.released_at.present? %></p>

            <p><strong><%= model_class.human_attribute_name(:description) %>:</strong></p>
            <div class="tinymce_format">
              <%= simple_format_no_tags(@dataset.description, {}, {sanitize: false}) %>
            </div>

            <p><strong><%= model_class.human_attribute_name(:methodology) %>:</strong></p>
            <div class="tinymce_format">
              <%= simple_format_no_tags(@dataset.methodology, {}, {sanitize: false}) %>
            </div>

            <p><strong><%= model_class.human_attribute_name(:datafile) %>:</strong>
              <% if @dataset.datafile.exists? %>
                <%= link_to @dataset.datafile.url, class: 'btn btn-default', target: :blank do %>
                  <%
                    text = @dataset.file_type
                    if text.present?
                      text << " - "
                    end
                    text << number_to_human_size(@dataset.datafile_file_size)
                  %>
                  <%= text %>
                <% end %>
              <% end %>
            </p>

            <p><strong><%= model_class.human_attribute_name(:reports) %>:</strong></p>
            <% if @dataset.reports.present? %>
              <ul>
                <% @dataset.reports.each do |report| %>
                  <li>
                    <%= report.title %>
                    <%= link_to report.file.url, class: 'btn btn-default', target: :blank do %>
                      <%
                        text = report.file_type
                        if text.present?
                          text << " - "
                        end
                        text << number_to_human_size(report.file_file_size)
                      %>
                      <%= text %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>


            <p><strong><%= model_class.human_attribute_name(:languages) %>:</strong></p>
            <ul class="list-inline">
            <% @dataset.language_objects.each do |lang| %>
              <li>
                <%= link_to lang.name, params.merge(language: lang.locale), class: 'btn btn-default' %>
              </li>
            <% end %>
            </ul>

            <% if @is_admin %>
              <p><strong><%= model_class.human_attribute_name(:public) %>:</strong>
              <%= format_dataset_public_status(@dataset.public) %></p>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <% if @is_admin && @dataset.created_at.present? %>
      <div class="modal fade" id="private-share" tabindex="-1" role="dialog" aria-labelledby="private-share-header" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= t('helpers.links.close') %></span></button>
              <h4 class="modal-title" id="private-share-header">
                <%= t('.private_share_header', title: @dataset.title) %>
              </h4>
            </div>
            <div class="modal-body">
              <p>
                <%= t('.private_share_explanation', title: @dataset.title) %>
              </p>
              <p>
                <%= link_to private_share_url(@dataset.private_share_key), 
                    private_share_url(@dataset.private_share_key) %>
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag  *(@js.present? ? ["application", @js].flatten : ["application"]), :media => "all" %>      
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>

    <% if Rails.env.production? %>
      <!-- insert google analytics for production site here -->
    <% elsif Rails.env.staging? %>
      <!-- insert google analytics for staging site here -->
    <% end %>

  </body>
</html>
